/* Welcome to Compass. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
#page_loader { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#BF000000',EndColorStr='#BF000000')"; }

html.resp-xxs .page-access .site_contents .access-text, html.resp-xs .page-access .site_contents .access-text { padding-bottom: 30px; height: auto; color: #535353; }
html.resp-xxs .page-information .site_contents, html.resp-xs .page-information .site_contents { height: auto; }
html.resp-xxs .page-information .site_contents .information-text, html.resp-xs .page-information .site_contents .information-text { height: auto; }
html.resp-xxs .page-information .site_contents .information-text .information_list ul, html.resp-xs .page-information .site_contents .information-text .information_list ul { height: auto; }
html.resp-xxs .page-our-team .site_contents .our-team-text, html.resp-xs .page-our-team .site_contents .our-team-text { height: auto; color: #535353; }

html.resp-sm .page-access .site_contents .access-text, html.resp-md .page-access .site_contents .access-text, html.resp-lg .page-access .site_contents .access-text { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#66000000',EndColorStr='#66000000')"; padding-bottom: 30px; height: 593px; color: white; }
html.resp-sm .page-information .site_contents .information-text, html.resp-md .page-information .site_contents .information-text, html.resp-lg .page-information .site_contents .information-text { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#B3FFFFFF',EndColorStr='#B3FFFFFF')"; }
html.resp-sm .page-our-team .site_contents .our-team-text, html.resp-md .page-our-team .site_contents .our-team-text, html.resp-lg .page-our-team .site_contents .our-team-text { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#99FFFFFF',EndColorStr='#99FFFFFF')"; height: 593px; color: #535353; }
html.resp-sm .site__centro .page-our-team .site_contents .our-team-text, html.resp-md .site__centro .page-our-team .site_contents .our-team-text, html.resp-lg .site__centro .page-our-team .site_contents .our-team-text { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#99FFFFFF',EndColorStr='#99FFFFFF')"; height: 748px; color: #535353; }

body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.aoyama a { background-image: url("../images/shops/img-shopmenu-aoyama.png"); }
body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.centro a { background-image: url("../images/shops/img-shopmenu-centro.png"); }
body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.primo a { background-image: url("../images/shops/img-shopmenu-primo.png"); }
body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.ginza a { background-image: url("../images/shops/img-shopmenu-ginza.png"); }
body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.osaka a { background-image: url("../images/shops/img-shopmenu-osaka.png"); }
body.site_style-shops #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.hakata a { background-image: url("../images/shops/img-shopmenu-hakata.png"); }
body.site_style-shops #global_nav .site-nav ul li.information a { background-image: url("../images/shops/img-gnavmenu-information.png"); }
body.site_style-shops #global_nav .site-nav ul li.lunch a { background-image: url("../images/shops/img-gnavmenu-lunch.png"); }
body.site_style-shops #global_nav .site-nav ul li.dinner a { background-image: url("../images/shops/img-gnavmenu-dinner.png"); }
body.site_style-shops #global_nav .site-nav ul li.wine a { background-image: url("../images/shops/img-gnavmenu-wine.png"); }
body.site_style-shops #global_nav .site-nav ul li.party a { background-image: url("../images/shops/img-gnavmenu-party.png"); }
body.site_style-shops #global_nav .site-nav ul li.our_team a { background-image: url("../images/shops/img-gnavmenu-our-team.png"); }
body.site_style-shops #global_nav .site-nav ul li.access a { background-image: url("../images/shops/img-gnavmenu-access.png"); }
body.site_style-shops #global_nav .site-nav ul li.group_home a { background-image: url("../images/shops/img-gnavmenu-group_home.png"); }

body.site_style-top > footer #fmap_area_nav .tokyo .text { background-image: url("../images/common/img-fmenu_area-tokyo.png"); }
body.site_style-top > footer #fmap_area_nav .osaka .text { background-image: url("../images/common/img-fmenu_area-osaka.png"); }
body.site_style-top > footer #fmap_area_nav .fukuoka .text { background-image: url("../images/common/img-fmenu_area-fukuoka.png"); }
body.site_style-top > footer #fmap_list_nav ul li.aoyama .place { background-image: url("../images/common/img-fmenu_list-aoyama.png"); }
body.site_style-top > footer #fmap_list_nav ul li.centro .place { background-image: url("../images/common/img-fmenu_list-centro.png"); }
body.site_style-top > footer #fmap_list_nav ul li.primo .place { background-image: url("../images/common/img-fmenu_list-primo.png"); }
body.site_style-top > footer #fmap_list_nav ul li.ginza .place { background-image: url("../images/common/img-fmenu_list-ginza.png"); }
body.site_style-top > footer #fmap_list_nav ul li.osaka .place { background-image: url("../images/common/img-fmenu_list-osaka.png"); }
body.site_style-top > footer #fmap_list_nav ul li.hakata .place { background-image: url("../images/common/img-fmenu_list-hakata.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.aoyama a { background-image: url("../images/top/img-topmenu-aoyama.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.centro a { background-image: url("../images/top/img-topmenu-centro.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.primo a { background-image: url("../images/top/img-topmenu-primo.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.ginza a { background-image: url("../images/top/img-topmenu-ginza.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.osaka a { background-image: url("../images/top/img-topmenu-osaka.png"); }
body.site_style-top nav.nav-global_shop_nav ul li.hakata a { background-image: url("../images/top/img-topmenu-hakata.png"); }

.loader .icon { left: 0; right: 0; }

/*# sourceMappingURL=ie.css.map */
