.content-titile { height: 16px; }

.bg-image { position: absolute; overflow: hidden; width: auto; height: 593px; }
@media (min-width: 1280px) { .bg-image { width: 1280px; } }

.site_contents { height: 593px; background: url(../images/common/tempo_bg.jpg); }
@media (min-width: 415px) { .site_contents { background: none; } }
.site_contents .inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .site_contents .inner-wrapper { padding: 0 20px; } }
.site_contents .information-text { position: relative; padding-top: 47px; height: 593px; font-size: 13px; }
@media (max-width: 320px) { .site_contents .information-text { height: auto; } }
@media (min-width: 415px) { .site_contents .information-text { background-color: rgba(255, 255, 255, 0.7); } }
.site_contents .information-text h2 { position: relative; margin-bottom: 32px; }
.site_contents .information-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .information-text h3 { margin-bottom: 37px; font-size: 16px; }
.site_contents .information-text .course-title, .site_contents .information-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .information-text .course-title span, .site_contents .information-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .information-text .course-title.course-title_notBorder, .site_contents .information-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .information-text p { line-height: 165%; }
.site_contents .information-text p a { text-decoration: underline; }
.site_contents .information-text p div { line-height: 0; }
.site_contents .information-text div div { line-height: 3; }
.site_contents .information-text .information_list ul { overflow: hidden; height: 435px; }
@media (max-width: 320px) { .site_contents .information-text .information_list ul { overflow: auto; height: auto; } }
.site_contents .information-text .information_list ul li { margin-bottom: 5px; }
.site_contents .information-text .information_list .title_area { padding: 0 6px 6px; border-bottom: 1px solid #535353; font-size: 105%; }
.site_contents .information-text .information_list .title_area span { display: inline-block; }
.site_contents .information-text .information_list .title_area .date { margin-right: 12px; font-size: 110%; }
.site_contents .information-text .information_list .information-contents { padding: 14px 5px; }
.site_contents .button_area { cursor: pointer; padding-top: 20px; text-align: center; }
.site_contents .button_area .button_item { -moz-transition: ease 0.15s; -o-transition: ease 0.15s; -webkit-transition: ease 0.15s; transition: ease 0.15s; height: 58px; }
.site_contents .button_area .button_item:hover { -moz-transition: ease 0.15s; -o-transition: ease 0.15s; -webkit-transition: ease 0.15s; transition: ease 0.15s; background: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=page-information.css.map */
