.inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .inner-wrapper { padding: 0 15px; } }

.content-titile { height: 16px; }

@media (min-width: 415px) { .site_contents .inner-wrapper { padding-right: 40px; } }
.site_contents .lunch-text { margin-top: 47px; }
.site_contents .lunch-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .lunch-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .lunch-text h3 { margin: 26px 0 15px; padding: 0 10px; }
.site_contents .lunch-text h3:first-child { margin-top: 0px; }
.site_contents .lunch-text .course-title, .site_contents .lunch-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .lunch-text .course-title span, .site_contents .lunch-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .lunch-text .course-title.course-title_notBorder, .site_contents .lunch-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .lunch-text p { margin-bottom: 18px; padding: 0 10px; }

/*# sourceMappingURL=page-lunch.css.map */
