@charset "UTF-8";
body .site_contents { height: auto; }

.content-titile { width: 202px; height: 16.5px; }

.bg-image { position: absolute; overflow: hidden; width: 100%; height: 593px; }
@media (min-width: 1280px) { .bg-image { width: 1280px; } }

.site_contents { background: url("../images/common/tempo_bg.jpg"); }
@media screen and (max-width: 320px) { .site_contents .inner-wrapper { padding-left: 15px; padding-right: 15px; } }
@media screen and (min-width: 321px) and (max-width: 414px) { .site_contents .inner-wrapper { padding-left: 20px; padding-right: 20px; } }
@media screen and (min-width: 415px) { .site_contents .inner-wrapper { padding-left: 85px; padding-right: 85px; } }
.site_contents .topics_list li { padding: 34px 0; border-top: 1px solid #acacac; }
.site_contents .topics_list li:first-child { padding-top: 0; border-top: 0; }
.site_contents .topics_list li .shop_name, .site_contents .topics_list li .topic-info { font-size: 115%; }
.site_contents .topics_list li .shop_name { margin-bottom: 12px; }
.site_contents .topics_list li .shop_name .eng { display: inline-block; margin-right: 0.2em; }
.site_contents .topics_list li .topic-info .post_title { margin-bottom: 12px; }
.site_contents .topics_list li .topic-info .limit_date { margin-bottom: 12px; }
.site_contents .topics_list li .topic-info .reservation { margin-top: 26px; }
@media screen and (max-width: 320px) { .site_contents .topics_list li figure { margin-bottom: 20px; } }
@media screen and (min-width: 321px) and (max-width: 414px) { .site_contents .topics_list li figure { margin-bottom: 20px; } }
.site_contents .topics-text { position: relative; padding-top: 47px; }
@media (min-width: 415px) { .site_contents .topics-text { background-color: rgba(255, 255, 255, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#40000000,EndColorStr=#40000000); /* IE 8以上用 */ } }
.site_contents .topics-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .topics-text h2 img { width: 234px; }
.site_contents .topics-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .topics-text h3 { margin-bottom: 37px; }
.site_contents .topics-text .course-title, .site_contents .topics-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .topics-text .course-title span, .site_contents .topics-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .topics-text .course-title.course-title_notBorder, .site_contents .topics-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .topics-text p a { text-decoration: underline; }
.site_contents .topics-text p div { line-height: 0; }

/*# sourceMappingURL=page-topics.css.map */
