.content-titile { height: 16px; }

.bg-image { position: absolute; overflow: hidden; min-width: 1280px; }
@media (min-width: 1280px) { .bg-image { width: 1280px; } }

.site_contents { background: url(../images/common/tempo_bg.jpg); }
@media (min-width: 415px) { .site_contents { background: none; } }
.site_contents .inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .site_contents .inner-wrapper { padding: 0 20px; } }
.site_contents .access-text { padding-top: 47px; font-size: 13px; }
@media screen and (max-width: 414px) { .site_contents .access-text { padding-bottom: 30px; height: auto; } }
@media screen and (min-width: 415px) { .site_contents .access-text { height: 593px; color: white; background: rgba(0, 0, 0, 0.4); } }
.site_contents .access-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .access-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .access-text h3 { margin-bottom: 18px; font-size: 16px; }
.site_contents .access-text .course-title, .site_contents .access-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .access-text .course-title span, .site_contents .access-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .access-text .course-title.course-title_notBorder, .site_contents .access-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .access-text p { line-height: 2.1; }
.site_contents .access-text p a { text-decoration: underline; color: white; }
@media screen and (max-width: 414px) { .site_contents .access-text p a { color: #535353; } }
.site_contents .access-text p div { line-height: 0; }
@media (max-width: 320px) { .site_contents .access-text div.shop_contact_info_area1 p .address-item { font-weight: bold; } }
@media (max-width: 320px) { .site_contents .access-text div .sp-map { text-align: right; } }
@media (max-width: 320px) { .site_contents .access-text div.open_time, .site_contents .access-text div.shop_contact_info_area2 { margin-top: 20px; }
  .site_contents .access-text div.open_time div:first-child, .site_contents .access-text div.shop_contact_info_area2 div:first-child { font-weight: bold; } }
.site_contents .access-text div div { line-height: 2.1; }
.site_contents .access-text div .map { margin: 18px 0 5px; }
.site_contents .access-text div iframe { width: 290px; height: 139px; }
@media (min-width: 320px) { .site_contents .access-text div iframe { width: 100%; height: 139px; } }
.site_contents .access-text .disclaimer { bottom: 10px !important; }

/*# sourceMappingURL=page-access.css.map */
