.content-titile { width: 202px; height: 16.5px; }

.bg-image { position: absolute; overflow: hidden; width: 100%; height: 593px; }
@media (min-width: 1280px) { .bg-image { width: 1280px; } }

.site_contents { height: 593px; background: url(../images/common/tempo_bg.jpg); }
@media (min-width: 768px) { .site_contents { background: none; } }
@media (min-width: 480px) { .site_contents .inner-wrapper { padding-left: 55px; } }
.site_contents .information-text { position: relative; height: 593px; padding-top: 47px; font-size: 13px; }
@media (min-width: 768px) { .site_contents .information-text { background-color: rgba(255, 255, 255, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#40000000,EndColorStr=#40000000); /* IE 8以上用 */ } }
.site_contents .information-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .information-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .information-text h3 { margin-bottom: 37px; font-size: 16px; }
.site_contents .information-text .course-title, .site_contents .information-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 15px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .information-text .course-title span, .site_contents .information-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 15px; }
.site_contents .information-text .course-title.course-title_notBorder, .site_contents .information-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .information-text p { line-height: 3; }
@media (max-width: 480px) { .site_contents .information-text p { line-height: 3; } }
@media (max-width: 768px) { .site_contents .information-text p { line-height: 2.3; } }
@media (max-width: 1024px) { .site_contents .information-text p { line-height: 2.9; } }
@media (max-width: 1280px) { .site_contents .information-text p { line-height: 3.2; } }
.site_contents .information-text p a { text-decoration: underline; }
.site_contents .information-text p div { line-height: 0; }
.site_contents .information-text div div { line-height: 3; }
.site_contents .information-text div iframe { width: 290px; height: 139px; }
@media (min-width: 480px) { .site_contents .information-text div iframe { width: 95%; height: 139px; } }
.site_contents .information-text .disclaimer { padding-top: 8px; }
@media (max-width: 480px) { .site_contents .information-text .disclaimer { padding-bottom: 8px; line-height: 3; } }
@media (max-width: 768px) { .site_contents .information-text .disclaimer { padding-bottom: 14px; line-height: 1.4; } }
@media (max-width: 1024px) { .site_contents .information-text .disclaimer { line-height: 1.4; padding-bottom: 11px; } }
@media (max-width: 1280px) { .site_contents .information-text .disclaimer { line-height: 1.4; padding-bottom: 13px; } }
.site_contents .information-text .information_list ul { overflow: hidden; height: 435px; }
.site_contents .button_area { cursor: pointer; padding-top: 20px; text-align: center; }
.site_contents .button_area .button_item { -moz-transition: ease 0.15s; -o-transition: ease 0.15s; -webkit-transition: ease 0.15s; transition: ease 0.15s; height: 58px; }
.site_contents .button_area .button_item:hover { -moz-transition: ease 0.15s; -o-transition: ease 0.15s; -webkit-transition: ease 0.15s; transition: ease 0.15s; background: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=page-column.css.map */
