.inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .inner-wrapper { padding: 0 20px; } }

.content-titile { width: 149px; height: 16px; }

.bg-image { position: absolute; overflow: hidden; min-width: 1280px; }
@media (min-width: 1280px) { .bg-image { width: 1280px; } }

.site_contents { background: url(../images/common/tempo_bg.jpg); }
@media (min-width: 415px) { .site_contents { background-color: rgba(60, 60, 60, 0.6); background: none; } }
.site_contents .our-team-text { padding-top: 47px; font-size: 13px; }
@media (min-width: 415px) { .site_contents .our-team-text { height: 593px; background-color: rgba(255, 255, 255, 0.6); } }
.site_contents .our-team-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .our-team-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .our-team-text h3 { margin-bottom: 37px; font-size: 16px; }
.site_contents .our-team-text .pofile-list { margin: 0 0 50px; }
@media (min-width: 416px) { .site_contents .our-team-text .pofile-list { padding: 0 49px; }
  .site_contents .our-team-text .pofile-list:first-child { padding-left: 50px; }
  .site_contents .our-team-text .pofile-list:last-child { padding-right: 50px; }
  .site_contents .our-team-text .pofile-list.under-list { width: 33.33333333%; float: left; } }
@media (min-width: 416px) and (max-width: 415px) { .site_contents .our-team-text .pofile-list.under-list { width: auto; float: none; } }

.site_contents .our-team-text .chef_name-svg { width: 248px; height: 14px; }
.site_contents .our-team-text .chef_name-svg.centro-profile, .site_contents .our-team-text .chef_name-svg.ginza-profile { width: auto; }
@media (max-width: 415px) { .site_contents .our-team-text .chef_name-svg { margin-top: 13px; } }
.site_contents .our-team-text .manager_name-svg { width: 275px; height: 14px; }
@media (max-width: 415px) { .site_contents .our-team-text .manager_name-svg { margin-top: 16px; } }
.site_contents .our-team-text .manager_name-svg.aoyama { width: 157px; height: auto; margin: 16px auto; display: block; }
.site_contents .our-team-text .manager_name-svg.centro { width: auto; height: 24px; display: block; margin: 10px auto 16px; }
.site_contents .our-team-text .manager_name-svg.ginza { width: auto; height: 30px; display: block; margin: 10px auto 16px; }
.site_contents .our-team-text .chef1_name-svg.centro, .site_contents .our-team-text .chef1_name-svg.ginza { width: 120px; height: auto; margin: 10px auto 16px; display: block; }
.site_contents .our-team-text .chef2_name-svg.aoyama, .site_contents .our-team-text .chef2_name-svg.centro, .site_contents .our-team-text .chef2_name-svg.ginza, .site_contents .our-team-text .chef2_name-svg.osaka { width: auto; height: 9.5px; display: block; margin: 16px auto; }
.site_contents .our-team-text .chef2_name-svg.centro { width: auto; height: 8.5px; }
.site_contents .our-team-text .gm_name-svg.aoyama { width: auto; height: 9.5px; margin: 16px auto 0; display: block; }
.site_contents .our-team-text .profile { padding: 20px 0 0; line-height: 1.3; }
.site_contents .our-team-text .profile_comment { line-height: 1.6; margin-top: 10px; }
.site_contents .side-contents ul { margin-top: 153px; padding: 0; }
@media (max-width: 320px) { .site_contents .side-contents ul { margin-top: 0px; padding: 0 15px; } }
.site_contents .side-contents ul li { margin: 10px 0 40px; }
.site_contents .side-contents ul li.list-wrapper { padding: 0; }
.site_contents .side-contents ul li img { display: block; margin: 0 auto; text-align: center; padding-bottom: 10px; }
.site_contents .side-contents ul li p { text-align: center; }

/*# sourceMappingURL=page-our-team.css.map */
