.content-titile { height: 16px; }

.site_contents .inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .site_contents .inner-wrapper { padding: 0 20px; } }
@media (min-width: 415px) { .site_contents .inner-wrapper { padding-left: 47px; } }
.site_contents .wine-text { margin-top: 47px; }
.site_contents .wine-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .wine-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .wine-text h3 { margin-bottom: 37px; padding: 0 10px; }
.site_contents .wine-text .course-title, .site_contents .wine-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .wine-text .course-title span, .site_contents .wine-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .wine-text .course-title.course-title_notBorder, .site_contents .wine-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .wine-text p { margin-bottom: 16px; padding: 0 10px; }

/*# sourceMappingURL=page-wine.css.map */
