.content-titile { width: 88px; height: 16px; }

.site_contents .inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .site_contents .inner-wrapper { padding: 0 20px; } }
.site_contents .party-text { margin-top: 47px; }
.site_contents .party-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .party-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .party-text h3 { margin-bottom: 37px; padding: 0 10px; }
.site_contents .party-text .course-title, .site_contents .party-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; font-size: 15px; position: relative; }
.site_contents .party-text .course-title span, .site_contents .party-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .party-text .course-title.course-title_notBorder, .site_contents .party-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .party-text p { margin-bottom: 22px; padding: 0 10px; }
.site_contents .party-text .disclaimer { font-size: 13px !important; }

/*# sourceMappingURL=page-party.css.map */
