.inner-wrapper { padding: 0 40px; }
@media (max-width: 415px) { .inner-wrapper { padding: 0 20px; } }

.content-titile { width: 108px; height: 16px; }

.site_contents .inner-wrapper { padding-right: 40px; }
@media (max-width: 415px) { .site_contents .inner-wrapper { padding-right: 20px; } }
.site_contents .dinner-text { margin-top: 47px; }
.site_contents .dinner-text h2 { position: relative; margin-bottom: 37px; }
.site_contents .dinner-text h2 span { position: absolute; right: 0; font-family: 'Times'; }
.site_contents .dinner-text h3 { margin-bottom: 37px; padding: 0 10px; }
.site_contents .dinner-text .course-title, .site_contents .dinner-text .course-title_notBorder { border-bottom: 1px solid; padding: 0 10px; padding-bottom: 3px; margin-bottom: 5px; position: relative; }
.site_contents .dinner-text .course-title span, .site_contents .dinner-text .course-title_notBorder span { position: absolute; right: 0; padding: 0 10px; }
.site_contents .dinner-text .course-title.course-title_notBorder, .site_contents .dinner-text .course-title_notBorder.course-title_notBorder { border-bottom: none; }
.site_contents .dinner-text p { margin-bottom: 27px; padding: 0 10px; }
.site_contents .dinner-text .other { padding: 0 10px; }

/*# sourceMappingURL=page-dinner.css.map */
