.site_contents { padding-bottom: 28px; }
.site_contents header { position: relative; margin-bottom: 55px; padding-top: 34px; }
.site_contents header h2 img { max-width: 144px; }
.site_contents header hr { display: block; margin-top: 15px; margin-bottom: 15px; border-bottom: 1px solid #797979; }
.site_contents header .link_area { line-height: 110%; }
.site_contents header .link_area a { display: block; height: 11px; }
.site_contents header .link_area a img { width: 127px; }
@media screen and (max-width: 414px) { .site_contents header .link_area { position: relative; text-align: right; } }
@media screen and (min-width: 415px) { .site_contents header .link_area { position: absolute; top: 21px; right: 14px; width: auto; } }
.site_contents .contents_text_area .title_area { margin-bottom: 37px; border-bottom: 1px solid #acacac; font-size: 120%; }
.site_contents .contents_text_area .title_area .date { display: inline-block; margin-right: 1em; }
.site_contents .contents_text_area .title_area .title { line-height: 1.4; }
.site_contents .contents_text_area .contents_text { text-align: justify; }
.site_contents .contents_text_area .index_area { margin-top: 130px; }
.site_contents .contents_text_area .index_area .columns_list li { margin-bottom: 15px; }
.site_contents .contents_text_area .index_area .columns_list li a { color: #535353; }
.site_contents .contents_text_area .index_area .columns_list li a:hover, .site_contents .contents_text_area .index_area .columns_list li a:active, .site_contents .contents_text_area .index_area .columns_list li a:focus { text-decoration: none; }
.site_contents .contents_text_area .index_area .columns_list li p { border-bottom: 1px solid #acacac; }
.site_contents .contents_text_area .index_area .columns_list li .title_area { margin-bottom: 0; }
.site_contents .contents_text_area .index_area .columns_list li .date { display: inline-block; margin-right: 0.9em; width: 85px; }
@media screen and (max-width: 414px) { .site_contents .contents_text_area .title_area { margin-bottom: 20px; } }
@media screen and (min-width: 415px) { .site_contents .contents_text_area .contents_text { padding: 0 8px 0 16px; } }
.site_contents .image_area { margin-top: 35px; padding-top: 20px; text-align: center; }
.site_contents .image_area figure { margin-bottom: 12px; }
.site_contents .image_area figure img { margin-left: auto; margin-right: auto; }
.site_contents .image_area .name .text img { width: 149px; }
.site_contents .image_area .index_list { margin-top: 35px; font-size: 115%; text-align: left; }
.site_contents .image_area .index_list .columns_list li { margin-bottom: 12px; border-bottom: 1px solid #acacac; }
.site_contents .image_area .index_list .columns_list li a { display: block; color: #535353; }
.site_contents .image_area .index_list .columns_list li a:hover { text-decoration: none; }
.site_contents .image_area .link_area { overflow: hidden; *zoom: 1; margin-top: 18px; }
.site_contents .image_area .link_area a { display: block; float: right; text-align: right; }
.site_contents .image_area .link_area a img { width: 145px; }
@media screen and (min-width: 415px) { .site_contents .image_area { text-align: right; }
  .site_contents .image_area .index_list { margin-top: 55px; } }

/*# sourceMappingURL=single-category-columns.css.map */
