@charset "UTF-8";
body { background: url("../images/common/tempo_bg.jpg"); }
body > .wrapper > header { padding: 18px 0 0; }
body > .wrapper > header.tempo_bg { background: transparent; }
@media screen and (max-width: 414px) { body > .wrapper > article .inner-wrapper { padding-left: 20px; padding-right: 20px; } }
@media screen and (min-width: 415px) { body > .wrapper > article .inner-wrapper { padding-left: 65px; padding-right: 65px; } }

.column_area .home_news .title { display: none; }

.all_site_topics { margin-top: 26px; }
.all_site_topics a { cursor: pointer; color: #535353; }
.all_site_topics a:hover, .all_site_topics a:active, .all_site_topics a:focus { color: #535353; text-decoration: none; }
.all_site_topics .title { margin-bottom: 10px; }
@media screen and (max-width: 414px) { .all_site_topics .title { margin-left: 20px; margin-right: 20px; }
  .all_site_topics .title img { width: 239px; } }
@media screen and (min-width: 415px) { .all_site_topics .title { margin-left: 65px; margin-right: 65px; }
  .all_site_topics .title img { width: 239px; } }
.all_site_topics .topic_list { position: relative; overflow: hidden; margin: 0 auto; width: 100%; }
.all_site_topics .topic_list ul { padding: 0 65px; }
.all_site_topics .topic_list .loader { position: relative; height: 100px; width: 100%; }
.all_site_topics .topic_list .loader .icon { top: 43.5px; }
.all_site_topics .topic_list .slider_view_area.area-hidden { height: 100px; }
.all_site_topics .topic_list .topic_item { width: 273px; font-size: 105%; }
.all_site_topics .topic_list .topic_item figure { overflow: hidden; margin-bottom: 12px; width: 273px; height: 157px; border: 1px solid #d8d8d8; }
.all_site_topics .topic_list .topic_item figure .img-vmiddle { height: 157px; }
.all_site_topics .topic_list .topic_item .click_area { margin-left: auto; margin-right: auto; }
.all_site_topics .topic_list .topic_item .shop_name { margin-bottom: 4px; }
.all_site_topics .topic_list .topic_item .shop_name .eng { display: inline-block; margin-right: 0.2em; }
.all_site_topics .topic_list .topic_item .topic_title { margin-bottom: 3px; }
.all_site_topics .topic_list .topic_item .topic_text { margin-bottom: 2px; }
.all_site_topics .topic_list .topic_item .shop_limit, .all_site_topics .topic_list .topic_item .contact-tel, .all_site_topics .topic_list .topic_item .topics-contents { display: none; }
@media screen and (max-width: 320px) { .all_site_topics .topic_list .topic_item figure { width: 250px; height: 157px; }
  .all_site_topics .topic_list .topic_item figure .img-vmiddle { height: 157px; }
  .all_site_topics .topic_list .topic_item .click_area { width: 250px; } }
@media screen and (min-width: 321px) and (max-width: 414px) { .all_site_topics .topic_list .topic_item figure { width: 100%; height: 157px; }
  .all_site_topics .topic_list .topic_item figure .img-vmiddle { height: 157px; }
  .all_site_topics .topic_list .topic_item .click_area { width: 85%; min-width: 250px; } }
@media screen and (min-width: 415px) { .all_site_topics .topic_list .topic_item figure { width: 273px; height: 157px; }
  .all_site_topics .topic_list .topic_item figure .img-vmiddle { height: 157px; }
  .all_site_topics .topic_list .topic_item .click_area { width: 273px; } }
.all_site_topics .bx-viewport { left: auto !important; border: 0 !important; box-shadow: none !important; background: transparent !important; }
.all_site_topics .bx-wrapper { max-width: none !important; width: 100%; }
.all_site_topics .bx-wrapper .bx-controls-direction a { position: absolute; top: 0; margin: 0; height: 157px; width: 26px; }
.all_site_topics .bx-wrapper .bx-controls-direction a:hover { background-position: center center; background-color: rgba(0, 0, 0, 0.1); }
.all_site_topics .bx-wrapper .bx-next { background: url(../images/common/btn-arrow2-right.png) no-repeat center center; }
.all_site_topics .bx-wrapper .bx-prev { background: url(../images/common/btn-arrow2-left.png) no-repeat center center; }
@media screen and (max-width: 320px) { .all_site_topics .bx-wrapper { padding: 0 30px; }
  .all_site_topics .bx-wrapper .bx-controls-direction a { width: 15px; background-size: contain; }
  .all_site_topics .bx-wrapper .bx-controls-direction a.bx-prev { left: 10px; }
  .all_site_topics .bx-wrapper .bx-controls-direction a.bx-next { right: 10px; } }
@media screen and (min-width: 321px) and (max-width: 414px) { .all_site_topics .bx-wrapper { padding: 0 35px; }
  .all_site_topics .bx-wrapper .bx-controls-direction a { width: 18px; background-size: contain; }
  .all_site_topics .bx-wrapper .bx-controls-direction a.bx-prev { left: 3.5%; }
  .all_site_topics .bx-wrapper .bx-controls-direction a.bx-next { right: 3.5%; } }
@media screen and (min-width: 415px) { .all_site_topics .bx-wrapper { padding: 0 70px; }
  .all_site_topics .bx-wrapper .bx-controls-direction a { width: 50px; } }

.welcome { margin-top: 10px; }
.welcome .title { margin-bottom: 16px; }
.welcome .title img { width: 171px; }
.welcome .contents { line-height: 170%; }
@media screen and (max-width: 414px) { .welcome { margin-top: 30px; } }

.column_area, .page-privacy_policy, .page-sitemap, .page-recruit { margin-top: 26px; margin-bottom: 50px; }
.column_area header, .page-privacy_policy header, .page-sitemap header, .page-recruit header { margin-bottom: 17px; }
.column_area header figure img, .page-privacy_policy header figure img, .page-sitemap header figure img, .page-recruit header figure img { width: 378px; }
.column_area header hr, .page-privacy_policy header hr, .page-sitemap header hr, .page-recruit header hr { display: block; border-width: 1px 0 0 0; border-style: solid; border-color: #797979; }
.column_area .home_news, .page-privacy_policy .home_news, .page-sitemap .home_news, .page-recruit .home_news { overflow: hidden; }
@media screen and (max-width: 414px) { .column_area .home_news, .page-privacy_policy .home_news, .page-sitemap .home_news, .page-recruit .home_news { margin-bottom: 30px; } }
.column_area .manager_profile_area .photo_area, .page-privacy_policy .manager_profile_area .photo_area, .page-sitemap .manager_profile_area .photo_area, .page-recruit .manager_profile_area .photo_area { margin-bottom: 26px; text-align: center; }
.column_area .manager_profile_area .photo_area .manager_photo img, .page-privacy_policy .manager_profile_area .photo_area .manager_photo img, .page-sitemap .manager_profile_area .photo_area .manager_photo img, .page-recruit .manager_profile_area .photo_area .manager_photo img { margin-left: auto; margin-right: auto; }
.column_area .manager_profile_area .photo_area .company_info figure img, .page-privacy_policy .manager_profile_area .photo_area .company_info figure img, .page-sitemap .manager_profile_area .photo_area .company_info figure img, .page-recruit .manager_profile_area .photo_area .company_info figure img { margin: 0 auto; }
@media screen and (max-width: 414px) { .column_area .manager_profile_area .photo_area, .page-privacy_policy .manager_profile_area .photo_area, .page-sitemap .manager_profile_area .photo_area, .page-recruit .manager_profile_area .photo_area { padding: 0; } }
@media screen and (min-width: 415px) { .column_area .manager_profile_area .photo_area, .page-privacy_policy .manager_profile_area .photo_area, .page-sitemap .manager_profile_area .photo_area, .page-recruit .manager_profile_area .photo_area { display: table; width: 100%; }
  .column_area .manager_profile_area .photo_area .company_info, .page-privacy_policy .manager_profile_area .photo_area .company_info, .page-sitemap .manager_profile_area .photo_area .company_info, .page-recruit .manager_profile_area .photo_area .company_info { padding-left: 4%; }
  .column_area .manager_profile_area .photo_area .manager_photo, .column_area .manager_profile_area .photo_area .company_info, .page-privacy_policy .manager_profile_area .photo_area .manager_photo, .page-privacy_policy .manager_profile_area .photo_area .company_info, .page-sitemap .manager_profile_area .photo_area .manager_photo, .page-sitemap .manager_profile_area .photo_area .company_info, .page-recruit .manager_profile_area .photo_area .manager_photo, .page-recruit .manager_profile_area .photo_area .company_info { display: table-cell; float: none; }
  .column_area .manager_profile_area .photo_area .company_info, .page-privacy_policy .manager_profile_area .photo_area .company_info, .page-sitemap .manager_profile_area .photo_area .company_info, .page-recruit .manager_profile_area .photo_area .company_info { vertical-align: bottom; }
  .column_area .manager_profile_area .photo_area .company_info .logo, .page-privacy_policy .manager_profile_area .photo_area .company_info .logo, .page-sitemap .manager_profile_area .photo_area .company_info .logo, .page-recruit .manager_profile_area .photo_area .company_info .logo { margin-bottom: 35%; } }
.column_area .manager_profile_area .profile, .page-privacy_policy .manager_profile_area .profile, .page-sitemap .manager_profile_area .profile, .page-recruit .manager_profile_area .profile { line-height: 170%; }
.column_area .manager_profile_area .columns, .page-privacy_policy .manager_profile_area .columns, .page-sitemap .manager_profile_area .columns, .page-recruit .manager_profile_area .columns { margin-top: 36px; font-size: 110%; }
.column_area .manager_profile_area .columns > .title, .page-privacy_policy .manager_profile_area .columns > .title, .page-sitemap .manager_profile_area .columns > .title, .page-recruit .manager_profile_area .columns > .title { padding-bottom: 2px; }
.column_area .manager_profile_area .columns > .title img, .page-privacy_policy .manager_profile_area .columns > .title img, .page-sitemap .manager_profile_area .columns > .title img, .page-recruit .manager_profile_area .columns > .title img { width: 81px; }
.column_area .manager_profile_area .columns ul, .page-privacy_policy .manager_profile_area .columns ul, .page-sitemap .manager_profile_area .columns ul, .page-recruit .manager_profile_area .columns ul { padding-left: 15px; }
.column_area .manager_profile_area .columns ul li, .page-privacy_policy .manager_profile_area .columns ul li, .page-sitemap .manager_profile_area .columns ul li, .page-recruit .manager_profile_area .columns ul li { cursor: pointer; position: relative; margin: 16px 0 32px 0; list-style-type: disc; }
@media (min-width: 415px) { .column_area .manager_profile_area .columns ul li, .page-privacy_policy .manager_profile_area .columns ul li, .page-sitemap .manager_profile_area .columns ul li, .page-recruit .manager_profile_area .columns ul li { border-bottom: 1px solid #797979; margin-top: 16px; } }
.column_area .manager_profile_area .columns ul li .post_title, .page-privacy_policy .manager_profile_area .columns ul li .post_title, .page-sitemap .manager_profile_area .columns ul li .post_title, .page-recruit .manager_profile_area .columns ul li .post_title { position: absolute; left: 87px; }
.column_area .manager_profile_area .columns .link_area, .page-privacy_policy .manager_profile_area .columns .link_area, .page-sitemap .manager_profile_area .columns .link_area, .page-recruit .manager_profile_area .columns .link_area { margin-top: 16px; text-align: right; }
.column_area .manager_profile_area .columns .link_area a, .page-privacy_policy .manager_profile_area .columns .link_area a, .page-sitemap .manager_profile_area .columns .link_area a, .page-recruit .manager_profile_area .columns .link_area a { color: #535353; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
@media screen and (max-width: 414px) { .column_area, .page-privacy_policy, .page-sitemap, .page-recruit { margin-top: 30px; }
  .column_area .manager_profile_area .photo_area .manager_photo, .page-privacy_policy .manager_profile_area .photo_area .manager_photo, .page-sitemap .manager_profile_area .photo_area .manager_photo, .page-recruit .manager_profile_area .photo_area .manager_photo { margin-bottom: 20px; }
  .column_area .manager_profile_area .photo_area .company_info .company_info_text, .page-privacy_policy .manager_profile_area .photo_area .company_info .company_info_text, .page-sitemap .manager_profile_area .photo_area .company_info .company_info_text, .page-recruit .manager_profile_area .photo_area .company_info .company_info_text { margin-bottom: 20px; } }
@media screen and (max-width: 414px) and (max-width: 415px) { .column_area .manager_profile_area .photo_area .company_info .company_info_text, .page-privacy_policy .manager_profile_area .photo_area .company_info .company_info_text, .page-sitemap .manager_profile_area .photo_area .company_info .company_info_text, .page-recruit .manager_profile_area .photo_area .company_info .company_info_text { margin-top: 20px; } }

.page-privacy_policy header, .page-sitemap header, .page-recruit header { position: relative; margin: 20px 0 40px; }
.page-privacy_policy header .link_area, .page-sitemap header .link_area, .page-recruit header .link_area { margin-top: 0; text-align: right; }
.page-privacy_policy header .link_area a, .page-sitemap header .link_area a, .page-recruit header .link_area a { color: #535353; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
@media (min-width: 415px) { .page-privacy_policy header .link_area, .page-sitemap header .link_area, .page-recruit header .link_area { position: absolute; top: -21px; right: 14px; width: auto; } }

.page-sitemap ul li { float: left; margin: 0 40px 40px 0; }
.page-sitemap ul li a, .page-sitemap ul li a:link, .page-sitemap ul li a:visited { color: #535353; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; font-size: 130%; display: block; margin: 10px 0 10px; }
.page-sitemap ul li a:hover { text-decoration: underline; }
.page-sitemap ul li ul { margin: 0 40px 40px 20px; }
.page-sitemap ul li ul li { clear: both; margin: 0 0 8px; }
.page-sitemap ul li ul li:before { content: "●"; }
.page-sitemap ul li ul li a, .page-sitemap ul li ul li a:link, .page-sitemap ul li ul li a:visited { color: #535353; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; font-size: 100%; margin: 0; display: inline-block; }
.page-sitemap ul li ul li a:hover { text-decoration: underline; }

.modal-content { background: url("../images/common/tempo_bg.jpg"); }
.modal-content .modal-header { border-color: #cac4ac; }
.modal-content .modal-footer { border-color: #cac4ac; }

#global_nav { left: 0; }
#global_nav .logo img { width: 106px; height: auto; margin: 0 auto; }

nav.nav-global_shop_nav ul { text-align: center; }
nav.nav-global_shop_nav ul li.aoyama, nav.nav-global_shop_nav ul li.centro, nav.nav-global_shop_nav ul li.primo, nav.nav-global_shop_nav ul li.ginza, nav.nav-global_shop_nav ul li.osaka, nav.nav-global_shop_nav ul li.overseas { padding-top: 52px; }
nav.nav-global_shop_nav ul li.aoyama a { background-image: url("../images/top/img-topmenu-aoyama.svg"); }
nav.nav-global_shop_nav ul li.centro a { background-image: url("../images/top/img-topmenu-centro.svg"); }
nav.nav-global_shop_nav ul li.primo a { background-image: url("../images/top/img-topmenu-primo.svg"); }
nav.nav-global_shop_nav ul li.ginza a { background-image: url("../images/top/img-topmenu-ginza.svg"); }
nav.nav-global_shop_nav ul li.osaka a { background-image: url("../images/top/img-topmenu-osaka.svg"); }
nav.nav-global_shop_nav ul li.overseas a { background-image: url("../images/top/img-topmenu-overseas.svg"); }
nav.nav-global_shop_nav ul li.overseas a .name { border-bottom: 1px solid #D7000F; }
nav.nav-global_shop_nav ul li.active a .name { border-bottom: 1px solid #D7000F; }
nav.nav-global_shop_nav ul li a { display: block; min-height: 44px; background: transparent no-repeat center 0; text-decoration: none; }
nav.nav-global_shop_nav ul li a:hover .name { border-bottom: 1px solid #D7000F; }
nav.nav-global_shop_nav ul li a p { display: block; }
nav.nav-global_shop_nav ul li a p.name { display: block; margin: 0 35px; }
nav.nav-global_shop_nav ul li a p.subname { display: inline-block; }
nav.nav-global_shop_nav ul li a p .text { display: inline-block; text-indent: -9999px; }

.mobile-nav .logo { margin-top: 17px; margin-bottom: 17px; }
.mobile-nav .currently-shop { display: none; }
.mobile-nav .shop-xs-top-fb { position: absolute; right: 76px; top: 16px; }
.mobile-nav .shop-xs-top-fb .icon_facebook a img { height: 36px; }
.mobile-nav .shop-xs-top-fb .icon_facebook a img.img-responsive { display: inline-block; margin-left: auto; margin-right: auto; }
.mobile-nav .global_shop_nav-top-xs ul li { display: block; padding: 16px 15px; background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* W3C */ font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; border-top: 1px solid #bcbcbc; }
.mobile-nav .global_shop_nav-top-xs ul li a:link, .mobile-nav .global_shop_nav-top-xs ul li a:visited { color: #535353; display: block; }
.mobile-nav .global_shop_nav-top-xs ul li:first-child { border-top: 1px solid #d8d8d8; }
.mobile-nav .global_shop_nav-top-xs ul li:last-child { border-bottom: 1px solid #bcbcbc; }
.mobile-nav .global_shop_nav-top-xs ul li .fa { right: 10px; position: absolute; }

.navbar-toggle { margin-top: 15px !important; margin-bottom: 0px; }

.inner-wrapper .welcome { margin-top: 27px; }
.inner-wrapper .welcome .contents { font-size: 115%; }
.inner-wrapper .store_detail { margin-top: 45px; padding-bottom: 38px; border-bottom: 1px solid #535353; }
.inner-wrapper .store_detail.osaka { border-bottom: none; }
.inner-wrapper .store_detail .photo_name { display: block; }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name { display: table; } }
.inner-wrapper .store_detail .photo_name .photo { display: block; border: 1px solid #535353; }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name .photo { display: table-cell; vertical-align: top; } }
.inner-wrapper .store_detail .photo_name .photo img { width: 100%; }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name .photo img { width: 470px; } }
.inner-wrapper .store_detail .photo_name .name { display: block; }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name .name { display: table-cell; vertical-align: top; padding-left: 27px; } }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right { float: right; } }
@media (max-width: 414px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul { display: table; width: 100%; margin-bottom: 10px; } }
.inner-wrapper .store_detail .photo_name .name .detail_store_right ul li { margin-bottom: 7px; text-align: right; }
@media (max-width: 414px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul li { display: table-cell; text-align: center; width: 33.333333%; padding: 16px 5px; background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* W3C */ border-right: 1px solid #cccccc; } }
.inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a { color: #535353; font-family: "Times New Roman"; font-size: 154%; }
.inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a .opentable { height: 31px; }
@media (max-width: 414px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a .opentable { height: 24px; vertical-align: middle; } }
@media (max-width: 321px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a .opentable { height: 16px; vertical-align: middle; } }
@media (max-width: 414px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a { font-size: 110%; } }
@media (max-width: 321px) { .inner-wrapper .store_detail .photo_name .name .detail_store_right ul li a { font-size: 78%; } }
.inner-wrapper .store_detail .photo_name .name .detail_store_left { font-family: "Times New Roman"; }
@media (min-width: 415px) { .inner-wrapper .store_detail .photo_name .name .detail_store_left { float: left; } }
.inner-wrapper .store_detail .photo_name .name .detail_store_left span { font-size: 108%; }
.inner-wrapper .store_detail .photo_name .name .detail_store_left h3 { font-size: 279%; padding: 0 0 8px; margin: 0; }
.inner-wrapper .store_detail .photo_name .name .detail_store_left .tel { font-size: 184%; }
.inner-wrapper .store_detail .photo_name .name .text { clear: both; padding-top: 33px; font-size: 115%; line-height: 170%; }
.inner-wrapper .store_detail .seats { padding: 15px 0 0; }
.inner-wrapper .store_detail .seats ul li { font-size: 115%; }
.inner-wrapper .store_detail .store { padding: 38px 0 0; font-size: 115%; line-height: 170%; }

/*# sourceMappingURL=site-overseas.css.map */
