body { background: #333333; }
body > header { background: #333333; }
body > .wrapper > article { background: #333333; }
body > footer { border-top: 5px solid #333333; }

.modal-content { background: #333333; }

.site_contents .access-text div p { line-height: 2.4; }
@media (max-width: 320px) { .site_contents .access-text div p { line-height: 2; } }
.site_contents .access-text div .map { margin: 0px 0 5px !important; }
.site_contents .access-text div div { line-height: 2.4 !important; }
@media (max-width: 320px) { .site_contents .access-text div div { line-height: 2 !important; } }

/*# sourceMappingURL=site-primo.css.map */
