@charset "UTF-8";
body > header { position: relative; color: white; }
@media (min-width: 415px) { body > header { height: 130px; min-width: 1280px; } }
body > header .logo { top: 17px; }
body > header .logo a img { width: 96px; }
body > header .contact_info { text-align: right; }
body > header .contact_info .reservation { float: right; position: relative; top: 18px; margin-right: 16px; }
body > header .contact_info .reservation img { width: 201px; }
body > header .contact_info .icon_facebook { float: right; position: relative; top: 10px; margin-right: 16px; }
body > header .contact_info .icon_facebook img { width: 30px; }
body > header .contact_info .icon_opentable { float: right; position: relative; top: 10px; padding: 2px 6px; background-color: #fff; }
body.home .home_main_contents { overflow: hidden; *zoom: 1; padding-top: 35px; color: white; }
body.home .home_main_contents a { color: white; }
body.home .home_main_contents .title { margin-bottom: 34px; }
body.home .home_main_contents .site_contents { height: auto; }
body.home .home_main_contents .home_news { float: left; margin-bottom: 37px; padding-left: 17px; }
body.home .home_main_contents .shop-xs-top-Ot { padding: 0 0 20px; }
body.home .home_main_contents .shop-xs-top-Ot .icon_opentale { padding: 4px; background-color: #fff; }
body.home .home_main_contents .shop-xs-top-Ot .icon_opentale a { display: block; text-align: center; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
body.home .home_main_contents .shop-xs-top-Ot .icon_opentale a img { height: 30px; }
body.home .home_main_contents .shop-xs-top-Ot .icon_opentale a img.img-responsive { display: inline-block; margin-left: auto; margin-right: auto; }
@media screen and (max-width: 414px) { body.home .home_main_contents { margin-left: 20px; margin-right: 20px; }
  body.home .home_main_contents .site_contents { width: auto; }
  body.home .home_main_contents .site_contents .content-shops_topics { border: 0; }
  body.home .home_main_contents .home_news { width: auto; } }
@media screen and (min-width: 415px) { body.home .home_main_contents { overflow: hidden; *zoom: 1; padding-top: 35px; color: white; }
  body.home .home_main_contents a { color: white; }
  body.home .home_main_contents .title { margin-bottom: 34px; }
  body.home .home_main_contents .site_contents { float: left; padding-left: 72px; width: 54%; }
  body.home .home_main_contents .home_news { float: left; margin-bottom: 37px; padding-left: 17px; width: 46%; } }
body.home #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.active a { background-position: center -44px; }
body.home #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.active a .name { border-bottom: 1px solid #D7000F; }
body .site_contents { height: 593px; overflow: hidden; }
@media screen and (max-width: 414px) { body .site_contents { height: auto; } }
body .site_contents div div.contents-body { height: 593px; position: relative; }
@media (max-width: 415px) { body .site_contents div div.contents-body { height: auto; } }
body .site_contents div div.contents-body div .disclaimer { font-size: 11px; }
@media (min-width: 415px) { body .site_contents div div.contents-body div .disclaimer { position: absolute; bottom: 10px; padding: 0 40px 0 10px; margin-bottom: 0px; } }
body .site_contents .content-shops_topics { margin-bottom: 28px; }
body .site_contents .content-shops_topics .title img { width: 219px; }
@media (max-width: 415px) { body .site_contents .content-shops_topics .title img { width: auto; height: 15px; } }
body .site_contents .content-shops_topics .topic-contents_area { overflow: hidden; *zoom: 1; }
body .site_contents .content-shops_topics .topic-contents_area figure { margin-bottom: 24px; }
body .site_contents .content-shops_topics .topic-contents_area figure img { width: 312px; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info { margin-bottom: 24px; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info aside { margin-top: 0; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info aside .eng { display: inline-block; margin-right: 0.2em; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .title { margin-top: 1em; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .limit { margin-top: 13px; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel { margin-top: 25px; font-size: 110%; line-height: 170%; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel a { color: white; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel dt { letter-spacing: -1px; font-size: 100%; }
body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel dd { font-size: 117%; }
body .site_contents .content-shops_topics .topic-contents_area .topics-contents { clear: both; }
body .site_contents .content-shops_topics .topic-contents_area .link { margin-top: 5px; margin-right: 16px; text-align: right; font-size: 115%; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
@media screen and (max-width: 414px) { body .site_contents .content-shops_topics .topic-contents_area figure { width: auto; text-align: center; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info aside { font-size: 100%; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .limit { font-size: 100%; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .title { margin-bottom: 0; font-size: 118%; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel { font-size: 110%; line-height: 170%; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel dt { font-size: 100%; letter-spacing: -1px; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .contact-tel dd { font-size: 117%; } }
@media screen and (min-width: 415px) { body .site_contents .content-shops_topics .topic-contents_area figure { float: left; }
  body .site_contents .content-shops_topics .topic-contents_area aside, body .site_contents .content-shops_topics .topic-contents_area .title, body .site_contents .content-shops_topics .topic-contents_area .limit { font-size: 118%; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info { float: right; width: 280px; }
  body .site_contents .content-shops_topics .topic-contents_area .topics-info .title { margin-bottom: 20px; } }
body .site_contents .content-shops_topics .no_image { float: none; margin-bottom: 27px; width: auto; }
body .site_contents .content-shops_topics .no_image figure { display: none; }
body .site_contents .content-shops_topics .no_image .topics-info { float: none; width: auto; }
body .site_contents .content-shops_info .title img { width: 189px; }
@media (max-width: 415px) { body .site_contents .content-shops_info .title img { width: auto; height: 15px; } }
body .site_contents .content-shops_info .topic_list { margin-bottom: 18px; }
body .site_contents .content-shops_info .topic_list ul { overflow: hidden; *zoom: 1; }
body .site_contents .content-shops_info .topic_list ul li { clear: both; margin-bottom: 30px; width: 100%; border-bottom: 1px solid white; font-size: 112%; }
body .site_contents .content-shops_info .topic_list ul li a { display: block; }
body .site_contents .content-shops_info .topic_list ul li a:hover, body .site_contents .content-shops_info .topic_list ul li a:active { text-decoration: none; }
body .site_contents .content-shops_info .topic_list ul li .date { padding-right: 10px; }
body .site_contents .content-shops_info .topic_list ul li .title { margin-bottom: 0; }
@media screen and (max-width: 414px) { body .site_contents .content-shops_info .topic_list ul li .more { display: inline-block; float: right; padding: 0; padding-left: 0.8em; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; } }
@media screen and (min-width: 415px) { body .site_contents .content-shops_info .topic_list ul li .title { padding-right: 10px; }
  body .site_contents .content-shops_info .topic_list ul li .more { padding-right: 17px; text-align: right; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; } }
body .content-facebook .title img { width: 71px; }
body #global_nav .nav-global_shop_nav { position: relative; top: 24px; left: 29px; }
@media (min-width: 415px) { body #global_nav .nav-global_shop_nav { left: 29px; } }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li { padding-bottom: 12px; }
@media (min-width: 415px) { body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li { padding-bottom: 0px; } }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.aoyama a { width: 74px; background-image: url("../images/shops/img-shopmenu-aoyama.svg"); }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.centro a { width: 72px; background-image: url("../images/shops/img-shopmenu-centro.svg"); }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.primo a { width: 72px; background-image: url("../images/shops/img-shopmenu-primo.svg"); }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.ginza a { width: 72px; background-image: url("../images/shops/img-shopmenu-ginza.svg"); }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.osaka a { width: 72px; background-image: url("../images/shops/img-shopmenu-osaka.svg"); }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.overseas a { width: 93px; background-image: url("../images/shops/img-shopmenu-overseas.svg"); margin-left: 15px; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li.active a { background-position: center -44px; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a { display: block; height: 44px; background: transparent no-repeat center 0; text-decoration: none; margin: 0 auto; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a:hover { background-position: center -44px; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a:hover .name { border-bottom: 1px solid #D7000F; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a p { display: block; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a p.name { display: block; padding: 0 3px; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a p.subname { display: inline-block; }
body #global_nav .nav-global_shop_nav .global_shop_nav-shops ul li a p .text { display: inline-block; text-indent: -9999px; }
body #global_nav .site-nav { clear: left; position: relative; top: 59px; }
@media (min-width: 415px) { body #global_nav .site-nav { top: 59px; } }
body #global_nav .site-nav ul { margin-left: 4px; }
body #global_nav .site-nav ul li { float: left; margin: 0 21.5px; margin-bottom: 14px; width: auto; }
body #global_nav .site-nav ul li:first-child { margin: 0 21.5px 0 1.5px; }
body #global_nav .site-nav ul li.information a { width: 125px; background-image: url("../images/shops/img-gnavmenu-information.svg"); }
body #global_nav .site-nav ul li.lunch a { width: 63px; background-image: url("../images/shops/img-gnavmenu-lunch.svg"); }
body #global_nav .site-nav ul li.dinner a { width: 70px; background-image: url("../images/shops/img-gnavmenu-dinner.svg"); }
body #global_nav .site-nav ul li.wine a { width: 49px; background-image: url("../images/shops/img-gnavmenu-wine.svg"); }
body #global_nav .site-nav ul li.party a { width: 58px; background-image: url("../images/shops/img-gnavmenu-party.svg"); }
body #global_nav .site-nav ul li.our_team a { width: 94px; background-image: url("../images/shops/img-gnavmenu-our-team.svg"); }
body #global_nav .site-nav ul li.access a { width: 70px; background-image: url("../images/shops/img-gnavmenu-access.svg"); }
body #global_nav .site-nav ul li.group_home a { width: 134px; background-image: url("../images/shops/img-gnavmenu-group_home.svg"); }
body #global_nav .site-nav ul li.current-menu-item a, body #global_nav .site-nav ul li a:hover { border-bottom: 1px solid #D7000F; }
body #global_nav .site-nav ul li a { display: block; height: 19px; background: transparent no-repeat center 0; text-decoration: none; }
body #global_nav .site-nav ul li a .text { display: inline-block; text-indent: -9999px; }

.navbar-default .navbar-toggle { background-color: transparent !important; }
.navbar-default .navbar-toggle:hover { background-color: rgba(0, 0, 0, 0.2) !important; }

.mobile-nav .logo { top: 0; margin: 17px 0 14px 10px; }
.mobile-nav .shop-xs-top-fb { position: absolute; right: 76px; top: 33px; }
.mobile-nav .shop-xs-top-fb .icon_facebook a img { height: 36px; }
.mobile-nav .shop-xs-top-fb .icon_facebook a img.img-responsive { display: inline-block; margin-left: auto; margin-right: auto; }
.mobile-nav .currently-shop { position: absolute; right: 16px; top: 90px; font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; font-size: 16px; }
.mobile-nav .global_shop_nav-shops-xs ul li { display: block; background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 99%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 99%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 99%, rgba(0, 0, 0, 0.3) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 99%, rgba(0, 0, 0, 0.3) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 99%, rgba(0, 0, 0, 0.3) 100%); /* W3C */ font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; border-top: 1px solid transparent; }
.mobile-nav .global_shop_nav-shops-xs ul li a:link, .mobile-nav .global_shop_nav-shops-xs ul li a:visited { padding: 16px 15px; display: block; color: inherit; }
.mobile-nav .global_shop_nav-shops-xs ul li:first-child { border-top: 1px solid transparent; }
.mobile-nav .global_shop_nav-shops-xs ul li:last-child { border-bottom: 1px solid transparent; }
.mobile-nav .global_shop_nav-shops-xs ul li .fa { right: 10px; position: absolute; }

#menu-global_page_nav-1 li, #menu-global_page_nav-2 li, .shop-access li { display: block; background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* W3C */ font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; border-top: 1px solid rgba(0, 0, 0, 0.3); border-left: 1px solid rgba(0, 0, 0, 0.3); }
#menu-global_page_nav-1 li a:link, #menu-global_page_nav-1 li a:visited, #menu-global_page_nav-2 li a:link, #menu-global_page_nav-2 li a:visited, .shop-access li a:link, .shop-access li a:visited { padding: 16px 15px; color: inherit; display: block; }
#menu-global_page_nav-1 li:first-child, #menu-global_page_nav-2 li:first-child, .shop-access li:first-child { border-top: 1px solid rgba(0, 0, 0, 0.3); }
#menu-global_page_nav-1 li:last-child, #menu-global_page_nav-1 li:nth-last-child(2), #menu-global_page_nav-2 li:last-child, #menu-global_page_nav-2 li:nth-last-child(2), .shop-access li:last-child, .shop-access li:nth-last-child(2) { border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
#menu-global_page_nav-1 li .fa, #menu-global_page_nav-2 li .fa, .shop-access li .fa { right: 10px; position: absolute; }

.shop-access li { background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 99%, rgba(0, 0, 0, 0.15) 100%); /* W3C */ }
.shop-access li:last-child, .shop-access li:nth-last-child(2) { border-bottom: none; }

.btn-primary { color: #303030; border-color: rgba(0, 0, 0, 0.5); background: white; background: rgba(255, 255, 255, 0.9); }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { color: black; background: white; }
.btn-primary.hover, .btn-primary.active, .btn-primary.focus { color: black; background: white; }

.modal-content { color: white; }
.modal-content .modal-header { border-color: rgba(255, 255, 255, 0.6); }
.modal-content .modal-body { background: transparent; }
.modal-content .modal-footer { border-color: rgba(255, 255, 255, 0.6); }

.price { text-align: right; }

body.home article .nav-site-global_menu { color: white; }

body.error404 { color: white; }
body.error404 a { color: white; }

body.ie_11 #global_nav .contact_info .reservation img, body.ie_10 #global_nav .contact_info .reservation img { height: 10px; }
body.ie_11 #global_nav .contact_info .icon_facebook a img, body.ie_10 #global_nav .contact_info .icon_facebook a img { height: 30px; width: 30px; }
body.ie_11 #global_nav .contact_info .icon_opentable a img, body.ie_10 #global_nav .contact_info .icon_opentable a img { width: auto; }

/*# sourceMappingURL=site_style-shops.css.map */
