body { background: #822600; }
body > header { background: #822600; }
body > .wrapper > article { background: #822600; }
body > footer { border-top: 5px solid #822600; }

.modal-content { background: #822600; }

.site__centro .page-our-team div.site_contents { height: 748px; }
@media (max-width: 415px) { .site__centro .page-our-team div.site_contents { height: auto; } }
.site__centro .page-our-team div.site_contents .our-team-text { height: 748px; }
@media (max-width: 415px) { .site__centro .page-our-team div.site_contents .our-team-text { height: auto; } }
.site__centro .page-our-team div.site_contents .our-team-text .pofile-list { margin: 0 0 0px; }
.site__centro .page-our-team div.site_contents .our-team-text .top-profile { margin-bottom: 26px; }

/*# sourceMappingURL=site-centro.css.map */
