body { background: #1e0000; }
body > header { background: #1e0000; }
body > .wrapper > article { background: #1e0000; }
body > footer { border-top: 5px solid #1e0000; }

.modal-content { background: #1e0000; }

.site__ginza .page-our-team div.site_contents .side-contents ul { margin-top: 80px; }
@media (max-width: 320px) { .site__ginza .page-our-team div.site_contents .side-contents ul { margin-top: 0px; } }
.site__ginza .page-our-team div.site_contents .side-contents ul li { margin: 10px 0 20px; }
.site__ginza .page-our-team div.site_contents .side-contents ul li.list-wrapper { padding-left: 20px; }
@media (max-width: 320px) { .site__ginza .page-our-team div.site_contents .side-contents ul li.list-wrapper { padding-left: 0px; } }

/*# sourceMappingURL=site-ginza.css.map */
