body { background: #2d1214; }
body > header { background: #2d1214; }
body > .wrapper > article { background: #2d1214; }
body > footer { border-top: 5px solid #2d1214; }

.modal-content { background: #2d1214; }

.site_contents .lunch-text h2 { margin-bottom: 20px !important; }
.site_contents .lunch-text .course-title { padding-bottom: 0px !important; }
.site_contents .lunch-text p { margin-bottom: 5px !important; }
.site_contents .lunch-text h3 { margin: 15px 0 10px !important; }
.site_contents .access-text div p { line-height: 2; }
@media (max-width: 320px) { .site_contents .access-text div p { line-height: 2; } }
.site_contents .access-text div .map { margin: 0px 0 5px !important; }
.site_contents .access-text div div { line-height: 2 !important; }
@media (max-width: 320px) { .site_contents .access-text div div { line-height: 2 !important; } }

/*# sourceMappingURL=site-osaka.css.map */
