body #wpadminbar, body #adminmenu, body #adminmenu .wp-submenu, body #adminmenuback, body #adminmenuwrap { background-color: #2d1214; }
body #adminmenu .wp-submenu, body .folded #adminmenu .wp-has-current-submenu .wp-submenu, body .folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background-color: #220e0f; }
body #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, body #adminmenu .wp-menu-arrow, body #adminmenu .wp-menu-arrow div, body #adminmenu li.current a.menu-top, body #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, body .folded #adminmenu li.current.menu-top, body .folded #adminmenu li.wp-has-current-submenu { color: white; background-color: #090304; }
body #wpadminbar .quicklinks .menupop ul.ab-sub-secondary, body #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: #090304; }
body #adminmenu li.menu-top:hover, body #adminmenu li.opensub > a.menu-top, body #adminmenu li > a.menu-top:focus { background-color: #1b0b0c; }
body #wpadminbar .ab-top-menu > li.hover > .ab-item, body #wpadminbar .ab-top-menu > li:hover > .ab-item, body #wpadminbar .ab-top-menu > li > .ab-item:focus, body #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus { background-color: #3f191c; }
body #adminmenu .wp-has-current-submenu .wp-submenu, body #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, body #adminmenu .wp-has-current-submenu.opensub .wp-submenu, body #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, body .no-js li.wp-has-current-submenu:hover .wp-submenu { background-color: #3f191c; }
body #collapse-menu:hover, body #collapse-menu:hover #collapse-button div:after, body #adminmenu .wp-submenu a:focus, body #adminmenu .wp-submenu a:hover, body #adminmenu a:hover, body #adminmenu li.menu-top > a:focus { color: #fbf5f6; }
body #adminmenu li:hover div.wp-menu-image:before { color: #fbf5f6; }
body #wpadminbar .ab-top-menu > li.hover > .ab-item, body #wpadminbar .ab-top-menu > li:hover > .ab-item, body #wpadminbar .ab-top-menu > li > .ab-item:focus, body #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus { color: #fbf5f6; background-color: #3f191c; }
body #wpadminbar .quicklinks .menupop ul li a:focus, body #wpadminbar .quicklinks .menupop ul li a:focus strong, body #wpadminbar .quicklinks .menupop ul li a:hover, body #wpadminbar .quicklinks .menupop ul li a:hover strong, body #wpadminbar .quicklinks .menupop.hover ul li a:focus, body #wpadminbar .quicklinks .menupop.hover ul li a:hover, body #wpadminbar li .ab-item:focus:before, body #wpadminbar li a:focus .ab-icon:before, body #wpadminbar li.hover .ab-icon:before, body #wpadminbar li.hover .ab-item:before, body #wpadminbar li:hover #adminbarsearch:before, body #wpadminbar li:hover .ab-icon:before, body #wpadminbar li:hover .ab-item:before, body #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, body #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover { color: #fbf5f6; background-color: #3f191c; }
body #wpadminbar .quicklinks .menupop.hover ul li a:before, body #wpadminbar .quicklinks .menupop:hover ul li a:before { background-color: transparent; }
body #wpadminbar .quicklinks .menupop.hover .ab-sub-wrapper a.ab-item:hover, body #wpadminbar .quicklinks .menupop.hover .ab-sub-wrapper a.ab-item:hover { background-color: transparent; }
body #wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a, body #wpadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover { color: #fbf5f6; }
body #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-right-color: #220e0f; }
body #wpadminbar .menupop .ab-sub-wrapper, body #wpadminbar .shortlink-input { background-color: #1b0b0c; }
body #wpadminbar > #wp-toolbar a:focus span.ab-label, body #wpadminbar > #wp-toolbar li.hover span.ab-label, body #wpadminbar > #wp-toolbar li:hover span.ab-label { color: #fbf5f6; }
body #wpadminbar .quicklinks li a:hover .blavatar { color: #fbf5f6; }
body #adminmenu .current div.wp-menu-image:before, body #adminmenu .wp-has-current-submenu div.wp-menu-image:before, body #adminmenu a.current:hover div.wp-menu-image:before, body #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, body #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before { color: white; }
body #adminmenu div.wp-menu-image:before { color: #999999; }

/*# sourceMappingURL=site-osaka-admin.css.map */
