body { background: #3c2100; }
body > header { background: #3c2100; }
body > .wrapper > article { background: #3c2100; }
body > footer { border-top: 5px solid #3c2100; }

.modal-content { background: #3c2100; }

.site__aoyama div .site_contents .lunch-text p { margin-bottom: 16px; }

/*# sourceMappingURL=site-aoyama.css.map */
