body { background: black; }
body > header { background: black; }
body > .wrapper > article { background: black; }
body > footer { border-top: 5px solid black; }

.modal-content { background: black; }

/*# sourceMappingURL=site-hakata.css.map */
