//! Color /////////////////////////////////////////////////////////////////////////////////////



// Site Color
$color-header: $gray70p;
$color-footer: $gray200;
$color-overarea: $gray3p;

$red: #D7000F;

// aoyama
$color-aoyama-main: rgb(60, 33, 0);

// centro
$color-centro-main: rgb(130, 38, 0);

// primo
$color-primo-main: rgb(51, 51, 51);

// ginza
$color-ginza-main: rgb(30, 0, 0);

// osaka
$color-osaka-main: rgb(45, 18, 20);

// hakata
$color-hakata-main: rgb(0, 0, 0);


//! Size /////////////////////////////////////////////////////////////////////////////////////

$header-height-xs: 40px;
$header-height-sm: 196px;
$header-height-md: 130px;
$header-height-lg: $header-height-md;
$footer-height-xs: 430px;
$footer-height-md: 430px;
$footer-height-lg: $footer-height-md;

$loading-icon-height: 13px;


// Wrapper ////////////////////////////////////////////////////////////////////////////////////
$inner-padding:10px;
$site-contens_height:593px;

$inner-padding-lg:10px;
$inner-padding-xs: 20px;



// Bootstrap
$screen-xs: 320px;
$screen-sm: 415px;
$screen-md: 1280px;
$screen-lg: 1280px;

$screen-xxs: $screen-xs;
$screen-xxs-min: $screen-xxs;
$screen-xs-min: $screen-xs + 1px;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xxs-max:              ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
