@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================

body {
	
}
// END : Element ==============================================================================


// ! START : Class ==============================================================================
// END : Class ==============================================================================


// ! START : ID ==============================================================================
#wpadminbar {
	
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	
}
// END : ID ==============================================================================


// ! START : Site ==============================================================================
// END : Site ==============================================================================
