/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import "compass";
@import "lib/library";

@import "config";



// ! START : ID ==============================================================================
#page_loader {
	@include ieBgRgba(rgba(0, 0, 0, 0.75));
}
// END : ID ==============================================================================




// ! START : Resp Mobile size ==============================================================================
html.resp-xxs, html.resp-xs {
	.page-access {
		.site_contents {
			.access-text {
				padding-bottom: 30px;
				height: auto;
				color: $gray83;
			}
		}
	} // END : .page-access
	
	
	.page-information {
		.site_contents {
			$contents-bgcolor: rgba(255, 255, 255, 0.7);
			height: auto;
			.information-text {
				height: auto;
				.information_list {
					ul {
						height: auto;
					}
				}
			}
		}
	} // END : .page-information
	
	
	.page-our-team {
		.site_contents {
			$contents-bgcolor:rgba(255, 255, 255, 0.6);
			.our-team-text {
				height: auto;
				color: $gray83;
			}
		}
	} // END : .page-our-team
}
// END : Resp Mobile size ==============================================================================

// ! START : Resp PC size ==============================================================================
html.resp-sm, html.resp-md, html.resp-lg {
	.page-access {
		.site_contents {
			$contents-bgcolor:rgba(0, 0, 0, 0.4);
			.access-text {
				@include ieBgRgba($contents-bgcolor);
				padding-bottom: 30px;
				height: 593px;
				color: white;
			}
		}
	} // END : .page-access
	
	
	.page-information {
		.site_contents {
			$contents-bgcolor: rgba(255, 255, 255, 0.7);
			.information-text {
				@include ieBgRgba($contents-bgcolor);
			}
		}
	} // END : .page-information
	
	
	.page-our-team {
		.site_contents {
			$contents-bgcolor:rgba(255, 255, 255, 0.6);
			.our-team-text {
				@include ieBgRgba($contents-bgcolor);
				height: 593px;
				color: $gray83;
			}
		}
	} // END : .page-our-team
	
	
	.site__centro {
		.page-our-team {
			.site_contents {
				$contents-bgcolor:rgba(255, 255, 255, 0.6);
				.our-team-text {
					@include ieBgRgba($contents-bgcolor);
					height: 748px;
					color: $gray83;
				}
			}
		} // END : .page-our-team
	}// END : .site__centro
}
// END : Resp PC size ==============================================================================




body.site_style-shops {
	& > .wrapper > header {
	}
	#global_nav {
		.nav-global_shop_nav {
			.global_shop_nav-shops {	// 店舗：ショップ一覧
				ul {
					li {
						&.aoyama a {
							background-image: url('../images/shops/img-shopmenu-aoyama.png');
						}
						&.centro a {
							background-image: url('../images/shops/img-shopmenu-centro.png');
						}
						&.primo a {
							background-image: url('../images/shops/img-shopmenu-primo.png');
						}
						&.ginza a {
							background-image: url('../images/shops/img-shopmenu-ginza.png');
						}
						&.osaka a {
							background-image: url('../images/shops/img-shopmenu-osaka.png');
						}
						&.hakata a {
							background-image: url('../images/shops/img-shopmenu-hakata.png');
						}
					}
				}
			}
		} // END : .nav-global_shop_nav
		
		.site-nav {
			ul {
				li {
					&.information {
						a {
							background-image: url('../images/shops/img-gnavmenu-information.png');
						}
					}
					&.lunch {
						a {
							background-image: url('../images/shops/img-gnavmenu-lunch.png');
						}
					}
					&.dinner {
						a {
							background-image: url('../images/shops/img-gnavmenu-dinner.png');
						}
					}
					&.wine {
						a {
							background-image: url('../images/shops/img-gnavmenu-wine.png');
						}
					}
					&.party {
						a {
							background-image: url('../images/shops/img-gnavmenu-party.png');
						}
					}
					&.our_team {
						a {
							background-image: url('../images/shops/img-gnavmenu-our-team.png');
						}
					}
					&.access {
						a {
							background-image: url('../images/shops/img-gnavmenu-access.png');
						}
					}
					&.group_home {
						a {
							background-image: url('../images/shops/img-gnavmenu-group_home.png');
						}
					}
				}
			}
		} // END : .site-nav
	} // END : #global_nav

} // END : body.site_style-shops



body.site_style-top {
	& > footer {
		#fmap_area_nav {
			.tokyo {
				.text {
					background-image: url('../images/common/img-fmenu_area-tokyo.png');
				}
			}
			.osaka {
				.text {
					background-image: url('../images/common/img-fmenu_area-osaka.png');
				}
			}
			.fukuoka {
				.text {
					background-image: url('../images/common/img-fmenu_area-fukuoka.png');
				}
			}
		} // END : #fmap_area_nav
		
		#fmap_list_nav {
			ul {
				li {
					&.aoyama {
						.place {
							background-image: url('../images/common/img-fmenu_list-aoyama.png');
						}
					}
					&.centro {
						.place {
							background-image: url('../images/common/img-fmenu_list-centro.png');
						}
					}
					&.primo {
						.place {
							background-image: url('../images/common/img-fmenu_list-primo.png');
						}
					}
					&.ginza {
						.place {
							background-image: url('../images/common/img-fmenu_list-ginza.png');
						}
					}
					&.osaka {
						.place {
							background-image: url('../images/common/img-fmenu_list-osaka.png');
						}
					}
					&.hakata {
						.place {
							background-image: url('../images/common/img-fmenu_list-hakata.png');
						}
					}
				}
			}
		} // END : #fmap_list_nav
		
	} // END : & > footer
	
	nav.nav-global_shop_nav {
		ul {
			li {
				&.aoyama {
					a {
						background-image: url('../images/top/img-topmenu-aoyama.png');
					}
				}
				&.centro {
					a {
						background-image: url('../images/top/img-topmenu-centro.png');
					}
				}
				&.primo {
					a {
						background-image: url('../images/top/img-topmenu-primo.png');
					}
				}
				&.ginza {
					a {
						background-image: url('../images/top/img-topmenu-ginza.png');
					}
				}
				&.osaka {
					a {
						background-image: url('../images/top/img-topmenu-osaka.png');
					}
				}
				&.hakata {
					a {
						background-image: url('../images/top/img-topmenu-hakata.png');
					}
				}
			}
		}
	} // END : nav.nav-global_shop_nav
} // END : body.site_style-top



.loader {
	.icon {
		left: 0;
		right: 0;
	}
}