@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 108px;
$content-title-height : 16px;
.inner-wrapper{
	@include inner-wrapper(40px,15px);
}
.content-titile{
			//width:$content-title-width;
			height:$content-title-height;
}
.site_contents{
	.inner-wrapper{
		@media (min-width: $screen-sm) {
				padding-right:40px;
		}
	}
	.lunch-text{
		margin-top:47px;
		
		h2{
			position:relative;
			margin-bottom:37px;
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin:26px 0 15px;
			&:first-child{
				margin-top:0px;	
			}
			padding:0 $inner-padding-lg;
		}
		.course-title, .course-title_notBorder{
			border-bottom:1px solid;
			padding:0 $inner-padding-lg;
			padding-bottom:3px;
			margin-bottom:5px;
			position:relative;
			span{
				position:absolute;
				right:0;
				padding:0 $inner-padding-lg;
			}
			&.course-title_notBorder{
				border-bottom:none;
			}
		}
		p{
			margin-bottom:18px;
			padding:0 $inner-padding-lg;
		}

	}
}
