@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 88px;
$content-title-height : 16px;

.content-titile{
			width:$content-title-width;
			height:$content-title-height;
}
.site_contents{
	.inner-wrapper{
		@include inner-wrapper(40px,20px);
	}
	.party-text{
		margin-top:47px;
		
		h2{
			position:relative;
			margin-bottom:37px;
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin-bottom:37px;
			padding:0 $inner-padding-lg;
		}
		.course-title, .course-title_notBorder{
			border-bottom:1px solid;
			padding:0 $inner-padding-lg;
			padding-bottom:3px;
			margin-bottom:5px;
			font-size:15px;
			position:relative;
			span{
				position:absolute;
				right:0;
				padding:0 $inner-padding-lg;
			}
			&.course-title_notBorder{
				border-bottom:none;
			}
		}
		p{
			margin-bottom:22px;
			padding:0 $inner-padding-lg;
		}
		.disclaimer{
			font-size:13px !important;
		}
	}
}
