@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 149px;
$content-title-height : 16px;

$article-bgcolor:rgba(60, 60, 60, 0.6);
$contents-bgcolor:rgba(255, 255, 255, 0.6);
$our-team-font-size:13px;
$our-team-h3-size:16px;
$content-font-color-xs:#535353;

@mixin width-height($width, $height) {
	width:$width;
	height:$height;
}
.inner-wrapper{
	@include inner-wrapper(40px,20px);
}
.content-titile{
			width:$content-title-width;
			height:$content-title-height;
}
.bg-image{
	position:absolute;
	overflow:hidden;
	min-width: $screen-md;
	@media (min-width:1280px) {
			width:1280px;
	}
}
.site_contents{
	background: url(../images/common/tempo_bg.jpg);
	@media (min-width: $screen-sm) {
			background-color:$article-bgcolor;
				background:none;
	}
	.our-team-text{
		padding-top:47px;
		
		
		font-size:$our-team-font-size;
		@media (min-width: $screen-sm) {
			height:593px;
			background-color:$contents-bgcolor;
		}
		
		h2{
			position:relative;
			margin-bottom:37px;
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin-bottom:37px;
			//padding:0 $inner-padding-lg;
			font-size:$our-team-h3-size;
		}
		.pofile-list{
			margin:0 0 50px;
			@media (min-width: $screen-sm + 1) {
				padding:0 49px;
				
				&:first-child{
					padding-left: 50px;
				}
				&:last-child{
					padding-right: 50px;
				}
				&.under-list{
					width:33.33333333%;
					float: left;
					@media (max-width: $screen-sm) {
						width:auto;
						float: none;
					}
				}
			}
		}

		.chef_name-svg{
			@include width-height(248px,14px);
			&.centro-profile, &.ginza-profile{
				width: auto;
			}
			@media (max-width: $screen-sm) {
				margin-top:13px;	
			}
		}
		.manager_name-svg{
			@include width-height(275px,14px);
			@media (max-width: $screen-sm) {
				margin-top:16px;	
			}
			&.aoyama{
				@include width-height(157px,auto);
				margin: 16px auto;
				display: block;
			}
			&.centro{
				@include width-height(auto,24px);
					display: block;
					margin: 10px auto 16px;
			}
			&.ginza{
				@include width-height(auto,30px);
					display: block;
					margin: 10px auto 16px;
			}
		}
		.chef1_name-svg{
			&.centro, &.ginza{
				@include width-height(120px,auto);
				margin: 10px auto 16px;
				display: block;
			}
		}
		.chef2_name-svg{
			&.aoyama, &.centro, &.ginza{
				@include width-height(auto,9.5px);
					display: block;
					margin: 16px auto;
			}
			&.centro{
				@include width-height(auto,8.5px);
			}
		}
		.gm_name-svg{
			&.aoyama{
				@include width-height(auto,9.5px);
				margin: 16px auto 0;
				display: block;
			}
		}
		.profile-img{
			//@include width-height(190px,190px);
		}
		.profile{
			padding:20px 0 0;
			line-height: 1.3;
		}
		.profile_comment{
			line-height:1.6;
			margin-top: 10px;
		}
	}
	.side-contents{
		ul{
			margin-top:153px;
			padding:0;
			@media(max-width: $screen-xs){
				margin-top:0px;
				padding:0 15px;
			}
			li{
				&.list-wrapper{
					padding:0;
				}
				margin: 10px 0 40px;
				img{
					display: block;
					margin:0 auto;
					text-align: center;
					padding-bottom: 10px;
				}
				p{
					text-align: center;
				}
			}
		}
	}
}
