@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 106px;
$content-title-height : 16px;

$contents-bgcolor:rgba(0, 0, 0, 0.4);
$content-font-color:rgba(255, 255, 255, 1);
$access-font-size:13px;
$access-h3-size:16px;
$content-font-color-xs:#535353;



.content-titile{
	//width:$content-title-width;
	height:$content-title-height;
}
.bg-image{
	position:absolute;
	overflow:hidden;
	min-width: $screen-md;
	@media (min-width:1280px) {
			width:1280px;
	}
}
.site_contents{
	background: url(../images/common/tempo_bg.jpg);
	@media (min-width: $screen-sm) {
		background:none;
	}
	.inner-wrapper{
		@include inner-wrapper(40px,20px);
	}
	.access-text{
		
		padding-top:47px;
		
		font-size:$access-font-size;
		
		@media screen and (max-width: $screen-xs-max) {	// Super Extra Small
			padding-bottom: 30px;
			height: auto;
		} // END : Super Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			height:593px;
			color:$content-font-color;
			background:$contents-bgcolor;
		} // END : Max width
		
		h2{
			position:relative;
			margin-bottom:37px;
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin-bottom:18px;
			//padding:0 $inner-padding-lg;
			font-size:$access-h3-size;
		}
		.course-title, .course-title_notBorder{
			border-bottom:1px solid;
			padding:0 $inner-padding-lg;
			padding-bottom:3px;
			margin-bottom:5px;
			position:relative;
			span{
				position:absolute;
				right:0;
				padding:0 $inner-padding-lg;
			}
			&.course-title_notBorder{
				border-bottom:none;
			}
		}
		p{
			//margin-bottom:22px;
			line-height:2.1;
			
			//padding:0 $inner-padding-lg;
			a{
				text-decoration:underline;
				@media screen and (max-width: $screen-xs-max) {
					color:$content-font-color-xs;
				}
				color:$content-font-color;
			}
			div{
				line-height:0;
			}
		}
		div{
			&.shop_contact_info_area1{
				@media(max-width: $screen-xs){
					//position: relative;
					p{
						.address-item{
							font-weight:bold;
						}
					}
				}
			}
			.sp-map{
				@media(max-width: $screen-xs){
					//position: absolute;
					//top: 28px;
					//right: 20px;
					text-align: right;
				}
			}
			&.open_time, &.shop_contact_info_area2{
				@media(max-width: $screen-xs){
					margin-top:20px;
					div:first-child{
						font-weight: bold;	
					}
				}
			}
			div{
				line-height:2.1;
			}
			.map{
				margin:18px 0 5px;
				
			}
			iframe{
				width:290px;
				height:139px;
				
				@media (min-width: $screen-xs) {
					width:100%;
					height:139px;
				}
			}
		}
		.disclaimer{
			bottom:10px !important;		
		}
	}
}
