@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 202px;
$content-title-height : 16.5px;

$content-height: 593px;

$contents-bgcolor: rgba(255, 255, 255, 0.4);
//$content-font-color: rgba(255, 255, 255, 1);
$content-font-color-xs:#535353;


body .site_contents {
	height: auto;
}



.content-titile{
			width:$content-title-width;
			height:$content-title-height;
}
.bg-image{
	position:absolute;
	overflow:hidden;
	width:100%;
	height: $content-height;
	@media (min-width:1280px) {
			width:1280px;
	}
}
.site_contents {
	
	background: url('../images/common/tempo_bg.jpg');
	@media (min-width: $screen-sm) {
		// background:none;
	}
	.inner-wrapper{
		@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			@include paddingSide(15px);
		} // END : Super Extra Small
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			@include paddingSide(20px);
		} // END : Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			@include paddingSide(85px);
		} // END : Max width
	}
	
	.topics_list {
		li {
			padding: 34px 0;
			border-top: 1px solid $gray172;
			&:first-child {
				padding-top: 0;
				border-top: 0;
			}
			
			.shop_name, .topic-info {
				font-size: 115%;
			}
			
			.shop_name {
				margin-bottom: 12px;
				.eng {
					display: inline-block;
					margin-right: 0.2em;
				}
				.jpn {
					
				}
			}
			.topic-info {
				.post_title {
					margin-bottom: 12px;
				}
				.limit_date {
					margin-bottom: 12px;
				}
				.reservation {
					margin-top: 26px;
				}
			}
			
			@media screen and (max-width: $screen-xxs) {	// Super Extra Small
				figure {
					margin-bottom: 20px;
				}
			} // END : Super Extra Small
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
				figure {
					margin-bottom: 20px;
				}
			} // END : Extra Small
			@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
				
			} // END : Max width
			
		}
	} // END : .topics_list
	.topics-text {
		position: relative;
		// height: $content-height;
		padding-top:47px;
		
		
		@media (min-width: $screen-sm) {
				background-color: $contents-bgcolor;
				filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#40000000,EndColorStr=#40000000); /* IE 8以上用 */
				// color:$content-font-color;
		}
		
		h2 {
			position:relative;
			margin-bottom:37px;
			img {
				width: 234px;
			}
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin-bottom:37px;
			//padding:0 $inner-padding-lg;
		}
		.course-title, .course-title_notBorder{
			border-bottom:1px solid;
			padding:0 $inner-padding-lg;
			padding-bottom:3px;
			margin-bottom:5px;
			position:relative;
			span{
				position:absolute;
				right:0;
				padding:0 $inner-padding-lg;
			}
			&.course-title_notBorder{
				border-bottom:none;
			}
		}
		.topics-contents-area {
		}
		p{
			//margin-bottom:22px;
			
			//padding:0 $inner-padding-lg;
			a{
				text-decoration:underline;
				@media (min-width: $screen-sm) {
					//color:$content-font-color;
				}
				//color:$content-font-color-xs;
			}
			div{
				line-height:0;
			}
		}
		
	}
}
