@import "compass";
@import "lib/library";

@import "config";

$content-title-width : 202px;
$content-title-height : 16px;

$content-height: 593px;

$contents-bgcolor: rgba(255, 255, 255, 0.7);
//$content-font-color: rgba(255, 255, 255, 1);
$access-font-size:13px;
$access-h3-size:16px;
$content-font-color-xs:#535353;
.content-titile{
	//width:$content-title-width;
	height:$content-title-height;
}
.bg-image{
	position:absolute;
	overflow:hidden;
	//width:100%;
	width: auto;
	height: $content-height;
	@media (min-width:1280px) {
			width:1280px;
	}
}
.site_contents{
	height: $content-height;
	background: url(../images/common/tempo_bg.jpg);
	@media (min-width: $screen-sm) {
		background:none;
	}
	.inner-wrapper{
		@include inner-wrapper(40px,20px);
	}
	.information-text{
		position: relative;
		padding-top:47px;
		height: $content-height;
		font-size:$access-font-size;
		@media (max-width: $screen-xs) {
			height:auto;
		}
		@media (min-width: $screen-sm) {
			background-color: $contents-bgcolor;
			//filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#70FFFFFF,EndColorStr=#70FFFFFF); /* IE 8以上用 */
			// color:$content-font-color;
		}
		h2{
			position:relative;
			margin-bottom: 32px;
			span{
				position:absolute;
				right:0;
				font-family:'Times';
			}
		}
		h3{
			margin-bottom:37px;
			//padding:0 $inner-padding-lg;
			font-size:$access-h3-size;
		}
		.course-title, .course-title_notBorder{
			border-bottom:1px solid;
			padding:0 $inner-padding-lg;
			padding-bottom:3px;
			margin-bottom:5px;
			position:relative;
			span{
				position:absolute;
				right:0;
				padding:0 $inner-padding-lg;
			}
			&.course-title_notBorder{
				border-bottom:none;
			}
		}
		p {
			//margin-bottom:22px;
			line-height: 165%;
			//padding:0 $inner-padding-lg;
			a{
				text-decoration:underline;
				@media (min-width: $screen-sm) {
					//color:$content-font-color;
				}
				//color:$content-font-color-xs;
			}
			div{
				line-height:0;
			}
		}
		div{
			div{
					line-height:3;
			}
		}
		
		.information_list {
			ul {
				overflow: hidden;
				height: 435px;
				@media (max-width: $screen-xs) {
					overflow:auto;
					height:auto;
				}
				li {
					margin-bottom: 5px;
				}
			}
			.title_area {
				padding: 0 6px 6px;
				border-bottom: 1px solid $gray83;
				font-size: 105%;
				span {
					display: inline-block;
				}
				.date {
					margin-right: 12px;
					font-size: 110%;
				}
			}
			.information-contents {
				padding: 14px 5px;
			}
		}
	}
	.button_area {
		cursor: pointer;
		padding-top: 20px;
		text-align: center;
		
		.button_item {
			@include animTrans();
			height: 58px;
			&:hover {
			@include animTrans();
				background: rgba(255, 255, 255, 0.3);
			}
		}
	}
}
