@import "compass";
@import "lib/library";

@import "config";

.site_contents {
	padding-bottom: 28px;

	header {
		position: relative;
		margin-bottom: 55px;
		padding-top: 34px;
		
		h2 {
			img {
				max-width: 144px;
			}
		}
		hr {
			display: block;
			margin-top: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $gray121;
		}
		
		.link_area {
			line-height: 110%;
			a {
				display: block;
				height: 11px;
				img {
					width: 127px;
				}
				
			}
		}
		
		
		@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
			.link_area {
				position: relative;
				text-align: right;
			}
		} // END : Mobile Layout
		@media screen and (min-width: $screen-sm-min) {	// PC Layout
			.link_area {
				position: absolute;
				top: 21px;
				right: 14px;
				width: auto;
				a {
					img {
					}
				}
			}
		} // END : PC Layout
	} // END : header
	
	
	.contents_text_area {
		.title_area {
			margin-bottom: 37px;
			border-bottom: 1px solid $gray172;
			font-size: 120%;
			.date {
				display: inline-block;
				margin-right: 1em;
			}
			.title{
				line-height: 1.4;
			}
		}
		
		.contents_text {
			text-align: justify;
		}
		
		
		.index_area {
			margin-top: 130px;
			.columns_list {
				li {
					margin-bottom: 15px;
					a {
						color: $gray83;
						&:hover, &:active, &:focus {
							text-decoration: none;
						}
					}
					p {
						border-bottom: 1px solid $gray172;
					}
					.title_area {
						margin-bottom: 0;
					}
					.date {
						display: inline-block;
						margin-right: 0.9em;
						width: 85px;
					}
					.title {

					}
				}
			}
		} // END : .index_area
		
		
		@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
			.title_area {
				margin-bottom: 20px;
			}
			.contents_text {
			}
		} // END : Mobile Layout
		@media screen and (min-width: $screen-sm-min) {	// PC Layout
			.contents_text {
				padding: 0 8px 0 16px;
			}
		} // END : PC Layout
		
	} // END : .contents_text_area
	
	
	.image_area {
		margin-top: 35px;
		padding-top: 20px;
		text-align: center;
		figure {
			margin-bottom: 12px;
			img {
				@include marginSide(auto);
			}
		}
		.name {
			.text {
				img {
					width: 149px;
				}
			}
		}
		
		
		.index_list {
			margin-top: 35px;
			font-size: 115%;
			text-align: left;
			.columns_list {
				li {
					margin-bottom: 12px;
					border-bottom: 1px solid $gray172;
					a {
						display: block;
						color: $gray83;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		
		.link_area {
			@include clearfix;
			margin-top: 18px;
			
			a {
				display: block;
				float: right;
				text-align: right;
				img {
					width: 145px;
				}
			}
		}
		
		@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			
		} // END : Super Extra Small
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			figure {
			}
		} // END : Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			text-align: right;
			.index_list {
				margin-top: 55px;
			}
		} // END : Max width
		
	} // END : .image_area
}
