@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================
body {
	
	background: $color-primo-main;
	
	& > header {
		background: $color-primo-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-primo-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-primo-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-primo-main;
}
.site_contents{
	.access-text{
		div{
			p{
				line-height: 2.4;
				@media(max-width: $screen-xs){
					line-height: 2;
				}
			}
			.map{
				margin: 0px 0 5px !important;
			}
			div{
				line-height: 2.4 !important;
				@media(max-width: $screen-xs){
					line-height: 2 !important;
				}
			}
		}
	}
}
// END : Class ==============================================================================

