@import "compass";
@import "lib/library";

@import "config";


$gnav-item-height-md: 44px;
$gnav-item-name-side_padding-md: 3px;

// ! START : Element ==============================================================================
body {
	& > header {
		position: relative;
		color: white;
		//height: $header-height-md;
		@media (min-width: $screen-sm) {
				height: $header-height-md;
				min-width: $screen-md;
		}
		.logo {
			//position: absolute;
			top: 17px;
			//left: 33px;
			a {
				img {
					width: 96px;
					
					}
			}
		} // END : logo
		
		.contact_info {
			//position: absolute;
			//right: 126px;
			//top: 0;
			text-align:right;
			p {
			}
			
			.reservation {
				float: right;
				position: relative;
				top: 18px;
				margin-right: 16px;
				img {
					width: 201px;
				}
			} // END : .reservation
			.icon_facebook {
				float: right;
				position: relative;
				top: 10px;
				margin-right: 16px;
				img {
					width: 30px;
				}
			} // END : .icon_facebook
			.icon_opentable {
				float: right;
				position: relative;
				top: 10px;
				padding: 2px 6px;
				background-color: #fff;
				img {
					//width: 133px;
				}
			}
		} // END : .contact_info
	} // END : & > wrapper > header
	
	
	&.home {
		
		.home_main_contents {
			@include clearfix;
			padding-top: 35px;
			color: white;
			
			a {
				color: white;
			}
			
			.title {
				margin-bottom: 34px;
			}
			
			.site_contents {
				height: auto;
			} // END : .site_contents
			
			.home_news {
				float: left;
				margin-bottom: 37px;
				padding-left: 17px;
			} // END : .home_news
			.shop-xs-top-Ot{
				padding:0 0 20px;
    			.icon_opentale {
    				padding: 4px;
					background-color: #fff;
						img {
							//width: 133px;
						}
					a{
						display: block;
						text-align: center;
						font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
						img{
							&.img-responsive{
								display: inline-block;
								margin-left: auto;
								margin-right:auto;
							}
							height:30px;
						}
					}	
				}
			}
			@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
				@include marginSide($inner-padding-xs);
				.site_contents {
					width: auto;
					.content-shops_topics {
						border: 0;
						.topic-contents_area {
							
						}
					}
				} // END : .site_contents
				.home_news {
					width: auto;
				}
			} // END : Mobile Layout
			@media screen and (min-width: $screen-sm-min) {	// PC Layout
				@include clearfix;
				padding-top: 35px;
				color: white;
				
				a {
					color: white;
				}
				
				.title {
					margin-bottom: 34px;
				}
				
				.site_contents {
					float: left;
					padding-left: 72px;
					width: 54%;
				} // END : .site_contents
				
				.home_news {
					float: left;
					margin-bottom: 37px;
					padding-left: 17px;
					width:46%;
				} // END : .home_news
			} // END : PC Layout
			
		}
		
		#global_nav {
			.nav-global_shop_nav {
				.global_shop_nav-shops {
					ul {
						li {
							&.active {
								a {
									background-position: center ($gnav-item-height-md * -1);
									.name {
										border-bottom: 1px solid $red;
									}
								}
							}
						}
					}
				}
			}
		} // END : #global_nav
	} // END : &.home
	
	.site_contents {
		height:$site-contens_height;
		overflow: hidden;
		
		@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
			height:auto;
		} // END : Mobile Layout
		@media screen and (min-width: $screen-sm-min) {	// PC Layout
			
		} // END : PC Layout
		
		
		div {
			div.contents-body{
				height:$site-contens_height;
				position: relative;
				@media (max-width: $screen-sm) {
					height:auto;
				}
				div{
					.disclaimer{
						font-size:11px;
						@media(min-width: $screen-sm){
							position: absolute;
							bottom:10px;
							padding:0 40px 0 10px;
							margin-bottom: 0px;
						}
					}
				}
			}
		}
		.content-shops_topics {
			margin-bottom: 28px;
			.title {
				img {
					width: 219px;
					@media (max-width: $screen-sm) {
						width:auto;
						height:15px;
					}
				}
			}
			
			.topic-contents_area {
				@include clearfix;
				figure {
					margin-bottom: 24px;
					
					img {
						width: 312px;
					}
				}
				.topics-info {
					margin-bottom: 24px;
					
					aside {
						margin-top: 0;
						.eng {
							display: inline-block;
							margin-right: 0.2em;
						}
						.jpn {
							
						}
					}
					.title {
						margin-top: 1em;
					}
					.limit {
						margin-top: 13px;
					}
					.contact-tel {
						margin-top: 25px;
						font-size: 110%;
						line-height: 170%;
						a {
							color: white;
						}
						dt {
							letter-spacing: -1px;
							font-size: 100%;
						}
						dd {
							font-size: 117%;
						}
					}
				}
				.topics-contents {
					clear: both;
				}
				.link {
					margin-top: 5px;
					margin-right: 16px;
					text-align: right;
					font-size: 115%;
					font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
				}
				
				@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
					figure {
						width: auto;
						text-align: center;
					}
					.topics-info {
						aside {
							font-size: 100%;
						}
						.limit {
							font-size: 100%;
						}
						.title {
							margin-bottom: 0;
							font-size: 118%;
						}
						.contact-tel {
							font-size: 110%;
							line-height: 170%;
							dt {
								font-size: 100%;
								letter-spacing: -1px;
							}
							dd {
								font-size: 117%;
							}
						}
					}
				} // END : Mobile Layout
				@media screen and (min-width: $screen-sm-min) {	// PC Layout
					figure {
						float: left;
					}
					aside, .title, .limit {
						font-size: 118%;
					}
					.topics-info {
						float: right;
						width: 280px;
						.title {
							margin-bottom: 20px;
						}
					}
				} // END : PC Layout
				
			} // END : .topic-contents_area
			
			.no_image {
				float: none;
				margin-bottom: 27px;
				width: auto;
				
				figure {
					display: none;
				}
				
				.topics-info {
					float: none;
					width: auto;
				}
			}

		} // END : .content-shops_topics
		
		.content-shops_info {
			.title {
				img {
					width: 189px;
					@media (max-width: $screen-sm) {
						width:auto;
						height:15px;
					}
				}
			}
			.topic_list {
				margin-bottom: 18px;
				ul {
					@include clearfix;
					li {
						clear: both;
						margin-bottom: 30px;
						width: 100%;
						border-bottom: 1px solid white;
						font-size: 112%;
						a {
							display: block;
							&:hover, &:active {
								text-decoration: none;
							}
						}
						
						.date {
							padding-right: 10px;
						}
						.title {
							margin-bottom: 0;
						}
						.more {
						}
					}
				}
				
				@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
					ul {
						li {
							.date {
								
							}
							.title {
								
							}
							.more {
								display: inline-block;
								float: right;
								padding: 0;
								padding-left: 0.8em;
								font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							}
						}
					}
					
				} // END : Mobile Layout
				@media screen and (min-width: $screen-sm-min) {	// PC Layout
					ul {
						li {
							.date {
								
							}
							.title {
								padding-right: 10px;
							}
							.more {
								padding-right: 17px;
								text-align: right;
								font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							}
						}
					}
				} // END : PC Layout
				
			} // END : .topic_list
		} // END : .content-shops_info
		
	} // END : .site_contents
	
	.content-facebook {
		.title {
			img {
				width: 71px;
			}
		}
	} // END : .content-facebook
	
	
	#global_nav {
		.nav-global_shop_nav {
			position: relative;
			top: 24px;
			left: 29px;
			@media (min-width: $screen-sm) {
				left: 29px;
			}

			
			.global_shop_nav-shops {	// 店舗：ショップ一覧
				ul {
					
					li {
						//float: left;
						//padding: 0 13px;
						padding-bottom:12px;
						@media (min-width: $screen-sm) {
							padding-bottom:0px;
						}
						&.aoyama {
							a {
								width: 68px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-aoyama.svg');
								
							}
						}
						&.centro {
							a {
								width: 66px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-centro.svg');
							}
						}
						&.primo {
							a {
								width: 66px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-primo.svg');
							}
						}
						&.ginza {
							a {
								width: 66px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-ginza.svg');
							}
						}
						&.osaka {
							a {
								width: 66px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-osaka.svg');
							}
						}
						&.overseas {
							a {
								width: 87px + ($gnav-item-name-side_padding-md * 2);
								background-image: url('../images/shops/img-shopmenu-overseas.svg');
								margin-left: 15px;
							}
						}
						&.active {
							a {
								background-position: center ($gnav-item-height-md * -1);
								.name {
									// border-bottom: 1px solid $red;
								}
							}
						}
						a {
							display: block;
							height: $gnav-item-height-md;
							background: transparent no-repeat center 0;
							text-decoration: none;
							margin:0 auto;
							&:hover {
								background-position: center ($gnav-item-height-md * -1);
								.name {
									border-bottom: 1px solid $red;
								}
							}
							p {
								display: block;
								&.name {
									display: block;
									padding: 0 $gnav-item-name-side_padding-md;
								}
								&.subname {
									display: inline-block;
								}
								.text {
									display: inline-block;
									text-indent: -9999px;
								}
							}
						}
					} // END : li
				}
			} // END : .global_shop_nav-shops
		} // END : .nav-global_shop_nav
		
		
		.site-nav {
			clear: left;
			position: relative;
			top: 59px;
			@media (min-width: $screen-sm) {
				top: 59px;
			}
			ul {
				$item-height-md: 12px;
				$item-name-side_padding-md: 2px;
				$ite-underline-padding-md: 7px;
				
				margin-left: 4px;
				
				li {
					float: left;
					margin: 0 21.5px;
					margin-bottom:14px;
					width: auto;
					
					&:first-child{
						margin: 0 21.5px 0 1.5px;
					}
					&.information {
						a {
							width: 121px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-information.svg');
						}
					}
					&.lunch {
						a {
							width: 59px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-lunch.svg');
						}
					}
					&.dinner {
						a {
							width: 66px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-dinner.svg');
						}
					}
					&.wine {
						a {
							width: 45px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-wine.svg');
						}
					}
					&.party {
						a {
							width: 54px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-party.svg');
						}
					}
					&.our_team {
						a {
							width: 90px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-our-team.svg');
						}
					}
					&.access {
						a {
							width: 66px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-access.svg');
						}
					}
					&.group_home {
						a {
							width: 130px + ($item-name-side_padding-md * 2);
							background-image: url('../images/shops/img-gnavmenu-group_home.svg');
						}
					}
					
					&.current-menu-item a, a:hover {
						border-bottom: 1px solid $red;
					}
					a {
						display: block;
						height: $item-height-md + $ite-underline-padding-md;
						background: transparent no-repeat center 0;
						text-decoration: none;
						&:hover {
						}
						.text {
							display: inline-block;
							text-indent: -9999px;
						}
					}
				}
			}
		} // END : .site-nav
	} // END : #global_nav
}

// スマホ用ヘッダー
.navbar-default{
	.navbar-toggle{
		background-color: rgba(0,0,0,0) !important;
	}
	.navbar-toggle:hover{
		background-color: rgba(0,0,0,0.2) !important;
	}
}
.mobile-nav{
	.logo{
		top:0;
		margin: 17px 0 14px 10px;
	}
	.shop-xs-top-fb{
		position: absolute;
		right:76px;
		top:33px;
    	.icon_facebook {
			a{
				img{
					&.img-responsive{
						display: inline-block;
						margin-left: auto;
						margin-right:auto;
					}
					height:36px;
				}
			}	
		}
	}
	.currently-shop{
		position: absolute;
		right:16px;
		top:90px;
		font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
		font-size: 16px;
	}
	.global_shop_nav-shops-xs{
		ul{
			li{
				display: block;
				
				//text-align: center;
				
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* W3C */
				
				font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
				a:link,a:visited{
					padding:16px 15px;
					display: block;
					color:inherit;
				}
	
				$nav-panel-border:transparent;
				border-top: 1px solid $nav-panel-border;
				&:first-child {
					border-top: 1px solid $nav-panel-border*1.15;
				}
				//border-left: 1px solid $nav-panel-border;
				&:last-child {
					border-bottom: 1px solid $nav-panel-border;
				}//,&:nth-last-child(2)
	
				.fa{
					right: 10px;
					position: absolute;
				}
	
			}
		}
	}
}
#menu-global_page_nav-1, #menu-global_page_nav-2, .shop-access{
	li{
		display: block;
		
		//text-align: center;	
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 99%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* W3C */
				
		font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
		a:link,a:visited{
			padding:16px 15px;
			color:inherit;
			display: block;
		}
		$nav-panel-border:rgba(0,0,0,0.3);
		border-top: 1px solid $nav-panel-border;
		&:first-child {
			border-top: 1px solid $nav-panel-border*1.15;
		}
		border-left: 1px solid $nav-panel-border*1.4;
		&:last-child,&:nth-last-child(2) {
			border-bottom: 1px solid $nav-panel-border*1.15;
		}//
		.fa{
			right: 10px;
			position: absolute;
		}
	}
}
.shop-access{
	li{
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 99%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* W3C */
				
		&:last-child,&:nth-last-child(2) {
			border-bottom: none;
		}//
	}
}
// END : Element ==============================================================================



// ! START : Class ==============================================================================
.btn-primary {
	color: $gray48;
	border-color: rgba(0, 0, 0, 0.5);
	background: white;
	background: rgba(255, 255, 255, 0.9);
	&:hover, &:active, &:focus {
		color: black;
		background: white;
	}
	&.hover, &.active, &.focus {
		color: black;
		background: white;
	}
}
.modal-content {
	color: white;
	.modal-header {
		border-color: rgba(255, 255, 255, 0.6);
	}
	.modal-body {
		background: transparent;
	}
	.modal-footer {
		border-color: rgba(255, 255, 255, 0.6);
	}
}
.price{
	text-align: right;
}
// END : Class ==============================================================================



// ! START : Page ==============================================================================
body.home {
	article {
		.nav-site-global_menu {
			color: white;
		}
	}
}


body.error404 {
	color: white;
	a {
		color: white;
	}
}
// END : Page ==============================================================================


// ! START : Browser ==============================================================================
body.ie_11, body.ie_10 {
	#global_nav {
		.contact_info {
			.reservation {
				img {
					//position:absolute;
					//right: 0px;
					//width: auto;
					height: 10px;
				}
			}
			.icon_facebook {
				a {
					img {
						height: 30px;
						width: 30px;
					}
				}
			}
			.icon_opentable {
				a {
					img {
						width: auto;
					}
				}
			}
		}
	}
} // END : body.ie_11, body.ie10 
// END : Browser ==============================================================================

