@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================
body {
	
	
	background: $color-ginza-main;
	& > header {
		background: $color-ginza-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-ginza-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-ginza-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-ginza-main;
}
.site__ginza{
	.page-our-team{
		div.site_contents{
			.side-contents{
				ul{
					margin-top:80px;
					@media(max-width: $screen-xs){
						margin-top:0px;
					}
					li{
						&.list-wrapper{
							padding-left:20px;
							@media(max-width: $screen-xs){
								padding-left:0px;
							}
						}
						margin: 10px 0 20px;
					}
				}
			}
		}
	}
}
// END : Class ==============================================================================

