@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================
body {
	
	
	background: $color-centro-main;
	& > header {
		background: $color-centro-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-centro-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-centro-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-centro-main;
}
.site__centro{
	.page-our-team{
		$centro-ourteam:748px;
		div.site_contents{
			height:$centro-ourteam;
				@media(max-width: $screen-sm){
					height:auto;
				}
			.our-team-text{
				height:$centro-ourteam;
				@media(max-width: $screen-sm){
					height:auto;
				}
				.pofile-list{
					margin:0 0 0px;
				}
				.top-profile{
					margin-bottom: 26px;
				}

			}
		}
	}
}
// END : Class ==============================================================================

