@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================
body {
	
	
	background: $color-osaka-main;
	
	& > header {
		background: $color-osaka-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-osaka-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-osaka-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-osaka-main;
}
.site_contents{
	.lunch-text{
		h2{
			margin-bottom: 20px !important;
		}
		.course-title{
			padding-bottom: 0px !important;
		}
		p{
			margin-bottom: 5px !important;
		}
		h3{
			margin: 15px 0 10px !important;
		}

	}
	.access-text{
		div{
			p{
				line-height: 2;
				@media(max-width: $screen-xs){
					line-height: 2;
				}
			}
			.map{
				margin: 0px 0 5px !important;
			}
			div{
				line-height: 2 !important;
				@media(max-width: $screen-xs){
					line-height: 2 !important;
				}
			}
		}
	}
}
// END : Class ==============================================================================

