@import "compass";
@import "lib/library";

@import "config";


// ! START : Element ==============================================================================
body {
	
	
	background: $color-hakata-main;
	& > header {
		background: $color-hakata-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-hakata-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-hakata-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-hakata-main;
}
// END : Class ==============================================================================

