@import "compass";
@import "lib/library";

@import "config";



// ! START : Element ==============================================================================
body {
	
	background: $color-aoyama-main;
	& > header {
		background: $color-aoyama-main;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		background: $color-aoyama-main;
	} // END : & > wrapper > article 

	

	& > footer {
		border-top: 5px solid $color-aoyama-main;
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
.modal-content {
	background: $color-aoyama-main;
}
.site__aoyama{
	div{
		.site_contents{
			.lunch-text{
				p{
					margin-bottom:16px;
				}
			}
		}
	}
}

// END : Class ==============================================================================

