@import "compass";
@import "lib/library";

@import "config";



$innerSideMrgn: 65px;



// ! START : Element ==============================================================================
body {
	
	background: url('../images/common/tempo_bg.jpg');
	
	& > .wrapper > header {
		padding:18px 0 0;
		&.tempo_bg {
			background: transparent;
		}
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		.inner-wrapper {
			@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
				@include paddingSide($inner-padding-xs);
			} // END : Mobile Layout
			@media screen and (min-width: $screen-sm-min) {	// PC Layout
				@include paddingSide($innerSideMrgn);
			} // END : PC Layout
			
		}
	} // END : & > wrapper > article 

	

	& > .wrapper > footer {
	} // END : & > wrapper > footer 

} // END : body

// END : Element ==============================================================================


// ! START : Class ==============================================================================
.column_area {
	.home_news {
		.title {
			display: none;
		}
	}
} // END : .column_area


.all_site_topics {
	$item-num-md: 4;
	$item-num-xs: 1;
	$item-width-md: 273px;
	$item-width-xs: 250px;
	$item-margin-md: 8px;
	$item-margin-xs: 8px;
	$item-image-height-md: 157px;
	$item-image-height-xs: 157px;
	
	margin-top: 26px;
	
	a {
		cursor: pointer;
		color: $gray83;
		&:hover, &:active, &:focus {
			color: $gray83;
			text-decoration: none;
		}
	}
	.title {
		
		margin-bottom: 10px;
		
		@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
			@include marginSide($inner-padding-xs);
			img {
				width: 239px;
			}
		} // END : Mobile Layout
		@media screen and (min-width: $screen-sm-min) {	// PC Layout
			@include marginSide($innerSideMrgn);
			img {
				width: 239px;
			}
		} // END : PC Layout
		
	}
	.topic_list {
		$loader_area-height: 100px;
		
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		
		ul {
			//@include marginSide($item-margin-md * -1);
			padding: 0 $innerSideMrgn;
			
			li {
				
			}
		}
		
		.loader {
			position: relative;
			height: $loader_area-height;
			width: 100%;
			
			.icon {
				top: ($loader_area-height - $loading-icon-height) / 2 ;
			}
		}
		
		.slider_view_area {
			&.area-hidden {
				height: $loader_area-height;
			}
		}
		.topic_item {
			//@include marginSide($item-margin-md);
			width: $item-width-md;
			font-size: 105%;
			
			figure {
				overflow: hidden;
				margin-bottom: 12px;
				width: $item-width-md;
				height: $item-image-height-md;
				border: 1px solid $gray180*1.2;
				.img-vmiddle {
					height: $item-image-height-md;
				}
			}
			.click_area {
				@include marginSide(auto);
			}
			.shop_name {
				margin-bottom: 4px;
				.eng {
					display: inline-block;
					margin-right: 0.2em;
				}
				.jpn {
					
				}
			}
			.topic_title {
				margin-bottom: 3px;
			}
			.topic_text {
				margin-bottom: 2px;
			}
			.topic_limit {
			}
			.shop_limit, .contact-tel, .topics-contents {
				display: none;
			}
		} // END : .topic_item
		
		@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			.topic_item {
				figure {
					width: $item-width-xs;
					height: $item-image-height-xs;
					.img-vmiddle {
						height: $item-image-height-xs;
					}
				}
				.click_area {
					width: $item-width-xs;
				}
			}
		} // END : Super Extra Small
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			.topic_item {
				figure {
					width: 100%;
					height: $item-image-height-xs;
					.img-vmiddle {
						height: $item-image-height-xs;
					}
				}
				.click_area {
					width: 85%;
					min-width: $item-width-xs;
				}
			}
		} // END : Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			.topic_item {
				figure {
					width: $item-width-md;
					height: $item-image-height-md;
					.img-vmiddle {
						height: $item-image-height-md;
					}
				}
				.click_area {
					width: $item-width-md;
				}
			}
		} // END : Max width
		
	} // END : .topic_list
	
	
	// bxslider
	.bx-viewport {
		left: auto !important;
		border: 0 !important;
		box-shadow: none !important;
		background: transparent !important;
	}
	.bx-wrapper {
		max-width: none !important;
		width: 100%;
		.bx-controls-direction a {
			position: absolute;
			top: 0;
			margin: 0;
			height: $item-image-height-md;
			width: 26px;
			&:hover {
				background-position: center center;
				background-color: rgba(0, 0, 0, 0.1); 
			}
		}
		.bx-next {
			background: url(../images/common/btn-arrow2-right.png) no-repeat center center;
		}
		.bx-prev {
			background: url(../images/common/btn-arrow2-left.png) no-repeat center center;
		}
		
		@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			padding: 0 30px;
			.bx-controls-direction a {
				
				width: 15px;
				background-size: contain;
				&.bx-prev {
					left: 10px;
				}
				&.bx-next {
					right: 10px;
				}
			}
		} // END : Super Extra Small
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			padding: 0 35px;
			.bx-controls-direction a {
				
				width: 18px;
				background-size: contain;
				&.bx-prev {
					left: 3.5%;
				}
				&.bx-next {
					right: 3.5%;
				}
			}
		} // END : Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			padding: 0 70px;
			.bx-controls-direction a {
				width: 50px;
			}
		} // END : Max width
		
	}
} // END : .all_site_topics



.welcome {
	margin-top: 10px;
	.title {
		margin-bottom: 16px;
		img {
			width: 171px;
		}
	}
	.contents {
		line-height: 170%;
	}
	@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
		margin-top: 30px;
	} // END : Mobile Layout
	@media screen and (min-width: $screen-sm-min) {	// PC Layout
		
	} // END : PC Layout
	
} // END : .welcome



.column_area, .page-privacy_policy, .page-sitemap, .page-recruit {
	margin-top: 26px;
	margin-bottom: 50px;
	
	header {
		margin-bottom: 17px;
		figure {
			img {
				width: 378px;
			}
		}
		hr {
			display: block;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: $gray121;
		}
	}
	
	.home_news {
		overflow: hidden;
		@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
			margin-bottom: 30px;
		} // END : Mobile Layout
		@media screen and (min-width: $screen-sm-min) {	// PC Layout
			
		} // END : PC Layout
		
	} // END : .home_news
	
	.manager_profile_area {
		.photo_area {
			margin-bottom: 26px;
			text-align: center;
			figure {
				img {
					//display: inline-block;
				}
			}
			.manager_photo {
				img {
					@include marginSide(auto);
				}
			}
			.company_info {
				figure {
					img {
						margin: 0 auto;
					}
				}
			}
			@media screen and (max-width: $screen-xs-max) {	// Extra Small < * < Small
				padding: 0;
			}
			@media screen and (min-width: $screen-sm-min) {	// Small < * < Middle
				display: table;
				width: 100%;
				
				.company_info {
					padding-left: 4%;
				}
				.manager_photo, .company_info {
					display: table-cell;
					float: none;
					
				}
				.manager_photo {
					
				}
				.company_info {
					vertical-align: bottom;
					.logo {
						margin-bottom: 35%;
					}
				}
			} // END : Max width
		} // END : .photo_area
		
		.profile {
			line-height: 170%;
		}
		
		
		.columns {
			margin-top: 36px;
			font-size: 110%;
					
			& > .title {
				padding-bottom: 2px;
				img {
					width: 81px;
				}
			}
			
			ul {
				padding-left: 15px;
				li {
					cursor: pointer;
					position: relative;
					margin: 16px 0 32px 0;
					
					@media(min-width: $screen-sm){
						border-bottom: 1px solid $gray121;
						margin-top: 16px;
					}
					list-style-type: disc;
					
					.date {
						
					}
					.post_title {
						position: absolute;
						left: 87px;
					}
				}
			}
			
			.link_area {
				margin-top: 16px;
				text-align: right;
				a {
					color: $gray83;
					font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
				}
			}
		} // END : .columns
	} // END : .manager_profile_area
	
	@media screen and (max-width: $screen-xs-max) {	// Mobile Layout
		margin-top: 30px;
		.manager_profile_area {
			.photo_area {
				.manager_photo {
					margin-bottom: 20px;
				}
				.company_info {
					.company_info_text {
						margin-bottom: 20px;
						@media (max-width: $screen-sm){
							margin-top: 20px;
						}
					}
				}
			}
		} // END : .manager_profile_area
	} // END : Mobile Layout
	@media screen and (min-width: $screen-sm-min) {	// PC Layout
		
	} // END : PC Layout
	
} // END : .column_area

.page-privacy_policy,.page-sitemap, .page-recruit{
	header{
		position: relative;
		margin: 20px 0 40px;
		.link_area {
			margin-top: 0;
			text-align: right;
			a {
				color: $gray83;
				font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
			}
		}
		@media(min-width: $screen-sm-min){
			.link_area {
				position: absolute;
				top: -21px;
				right: 14px;
				width: auto;
			}
		}
	}
}// END : .page-privacy_policy

.page-sitemap{
	header{
	}
	ul{		
		li{
			float: left;
			margin:0 40px 40px 0;
			a, a:link, a:visited{
				color: #535353;
				font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
				font-size:130%;
				display: block;
				margin: 10px 0 10px;
			}
			a:hover{
				text-decoration: underline;
			}
			ul{
				margin:0 40px 40px 20px;
				li{
					clear: both;
					margin: 0 0 8px;
					&:before{
						content:"●";	
					} 
					a, a:link, a:visited{
						color: #535353;
						font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
						font-size:100%;
						margin: 0;
						display: inline-block;
					}
					a:hover{
						text-decoration: underline;
					}
				}
				
			}
		}
	}

}//END : .page-sitemap


.modal-content {
	background: url('../images/common/tempo_bg.jpg');
	.modal-header {
		border-color: rgb(202, 196, 172);
	}
	.modal-footer {
		border-color: rgb(202, 196, 172);
	}
}
// END : Class ==============================================================================



#global_nav {
	left:0;
	.logo {
		img {
			width: 106px;
			height:auto;
			margin:0 auto;
		}
	}
}
nav.nav-global_shop_nav{
	ul {
		$item-height-md: 44px;
		$item-name-side_padding-md: 35px;
		$item-tempo-padding-top:52px;
		text-align: center;
		li {
			&.aoyama,&.centro,&.primo,&.ginza,&.osaka,&.overseas{
				padding-top:$item-tempo-padding-top;
			}
			&.aoyama {
				a {
					background-image: url('../images/top/img-topmenu-aoyama.svg');
				}
			}
			&.centro {
				a {
					background-image: url('../images/top/img-topmenu-centro.svg');
				}
			}
			&.primo {
				a {
					background-image: url('../images/top/img-topmenu-primo.svg');
				}
			}
			&.ginza {
				a {
					background-image: url('../images/top/img-topmenu-ginza.svg');
				}
			}
			&.osaka {
				a {
					background-image: url('../images/top/img-topmenu-osaka.svg');
				}
			}
			&.overseas {
				a {
					background-image: url('../images/top/img-topmenu-overseas.svg');
				}
			}
			&.active {
				a {
					.name {
						border-bottom: 1px solid $red;
					}
				}
			}
			a {
				display: block;
				min-height: $item-height-md;
				background: transparent no-repeat center 0;
				text-decoration: none;
				&:hover {
					//background-position: center ($item-height-md * -1);
					.name {
						border-bottom: 1px solid $red;
					}
				}
				p {
					display: block;
					&.name {
						display: block;
						margin: 0 $item-name-side_padding-md;
					}
					&.subname {
						display: inline-block;
					}
					.text {
						display: inline-block;
						text-indent: -9999px;
					}
				}
			}
		} // END : li
	}
}



.recruit_list {
	margin-bottom: 30px;
	
	li {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid $gray180;
		
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
		
		.title {
			margin-bottom: 8px;
			font-size: 110%;
		}
		.contents {
			font-size: 100%;
		}
	}
} // END : .recruit_list 


// スマホ用ヘッダー
.mobile-nav{
	.logo{
		margin-top:17px;
		margin-bottom: 17px;
	}
	.currently-shop{
		display: none;
	}
	.shop-xs-top-fb{
		position: absolute;
		right:76px;
		top:16px;
    	.icon_facebook {
			a{
				img{
					&.img-responsive{
						display: inline-block;
						margin-left: auto;
						margin-right:auto;
					}
					height:36px;
				}
			}	
		}
	}
	.global_shop_nav-top-xs{
		ul{
			li{
				display: block;
				padding:16px 15px;
				//text-align: center;
				
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 99%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 99%,rgba(0,0,0,0.15) 100%); /* W3C */
				
				font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
				a:link,a:visited{
					color:#535353;
					display: block;
				}
	
				$nav-panel-border:#bcbcbc;
				border-top: 1px solid $nav-panel-border;
				&:first-child {
					border-top: 1px solid $nav-panel-border*1.15;
				}
				//border-left: 1px solid $nav-panel-border;
				&:last-child {
					border-bottom: 1px solid $nav-panel-border;
				}//,&:nth-last-child(2)
	
				.fa{
					right: 10px;
					position: absolute;
				}
	
			}
		}
	}
}
// bootstrap reset
.navbar-toggle {
	margin-top: 15px !important;
	margin-bottom: 0px;
}