@import "compass";
@import "lib/library";

@import "config";



// ! START : Element ==============================================================================
html, body {
	
}
html {
	&.adjust-height {
		height: 100%;
		overflow-y: hidden;
		body {
			height: 100%;
			overflow-y: hidden;
			& > footer {
				height: 100%;
			}
		}
	}
}



body {
	
	position:relative;
	height: auto;
	//background-image: url("../images/common/tempo_bg.jpg");
	font-size: 13px;
	
	
	width: auto;
	@media screen and (max-width: $screen-xxs) {	// Super Extra Small
		width: $screen-xxs;
	} // END : Super Extra Small
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
		max-width: $screen-sm;
		width: auto;
	} // END : Extra Small
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {	// Super Extra Small < * < Extra Small
		min-width: $screen-md;
	} // END : Small
	@media screen and (min-width: $screen-md-min) {	// Extra Small < Max width
		min-width: $screen-md;
	} // END : Max width
	
	
	&.home {
		#home_slide {
			$loader_area-height: 100px;
			@include clearfix;
			.img-vmiddle {
				height: 100%;
			}
			.loader {
				z-index: auto;
				height: 100%;
				.icon {
					top: 50%;
				}
			}
		} // END : #home_slide
	} // END : &.home
	
	
	& > header {
		overflow: hidden;
	} // END : & > wrapper > header 
	
	

	& > .wrapper > article {
		
	} // END : & > wrapper > article 

	

	& > footer {
		position: relative;
		background: $color-footer;
		
		@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			height: auto;
		} // END : Super Extra Small
		@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			height: auto;
		} // END : Extra Small
		@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
			height: $footer-height-md;
			min-width: $screen-md;
		} // END : Max width
		
		
		& > .wrapper {
			position: relative;
			height: 100%;
		}
		.copyright {
			position: relative;
			left: 0px;
			bottom: 10px;
			width: 100%;
			text-align: center;
			font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
			@media screen and (max-width: $screen-xxs) {	// Super Extra Small
			} // END : Super Extra Small
			@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Super Extra Small < * < Extra Small
			} // END : Extra Small
			@media screen and (min-width: $screen-sm-min) {	// Extra Small < Max width
				position: absolute;
				left: -32px;
				bottom: 10px;
			} // END : Max width
		}
		
		.site-info {
			position: relative;
			width: 100%;
			height: 100%;
			.japan_map {
				position: absolute;
				width: 100%;
				height: 100%;
				img {
					position: absolute;
					top: 16px;
					bottom: 0;
					left: 307px;
					right: 0;
					margin: 0;
					@media (max-width: $screen-xs){
						display:none;
					}
					
				}
			}
		} // END : .site-info
		#nav-footer_menu-xs{
			$padding-width:10px;
			$padding-height:12px;
			font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
			.panel-heading{
				margin-left:0;
				padding-left:$padding-width;

			}
			.collapsed{
				
			}
			ul{
				margin-bottom: $padding-height*2;
				li{
					border-bottom:1px solid $gray83;
					padding:$padding-height 0 $padding-height $padding-width;
					&:first-child{
						border-bottom:1px solid $gray83;
						padding:$padding-height 0;
					}
					&:last-child{
						border-bottom:1px solid $gray83;
						padding:$padding-height 0 $padding-height $padding-width;
					}
					i{
						position: absolute;
						right:$padding-width;
					}
					&.list-header{
						//border-left: 2px solid $gray83;
						color: #535353;
					}
					&.list-item{
						padding-left:16px;
					}
					ul{
						margin-bottom: 0;
						li{
							&:first-child{
								border-top:1px solid $gray83;
								margin-top:$padding-height;
								padding:$padding-height 0 $padding-height $padding-width;
							}
							&:last-child{
								border-bottom:none;
								padding:$padding-height 0 0 $padding-width;
							}
						}
					}
					a{
						display: block;
						padding: 0 $padding-width;
						color: $gray83;
						line-height: 120%;
						text-decoration: none;
					}
				}
			}
		}		
		#nav-footer_menu {
			position: absolute;
			z-index: 1;
			top: 16px;
			left: 68px;
			font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
			ul {
				padding: 2px 0 2px 16px;
				border-left: 2px solid $gray83;
				
				li {
					display: block;
					color: red;
					&:first-child {
						a {
							padding-top: 1px;
						}
					}
					
					a {
						display: block;
						padding: 10px 0 1px 0;
						color: $gray83;
						line-height: 120%;
						&:hover {
							padding-bottom: 0;
							border-bottom: 1px solid $gray83;
							text-decoration: none;
						}
					}
				}
			}
		} // END : #nav-footer_menu
		
		
		#fmap_area_nav {
			$item-height-md: 12px;
			
			position: absolute;
			.area_item {
				position: absolute;
				line-height: 100%;
				.text, .mark {
					position: relative;
					z-index: 1;
				}
				.text {
					cursor: pointer;
					display: inline-block;
					height: $item-height-md;
					background: transparent no-repeat left 0;
					text-indent: -9999px;
				}
				.mark {
					cursor: pointer;
					position: absolute;
					display: block;
					padding: 0;
					line-height: 100%;
				}
			}
			.active {
				.text {
					display: inline-block;
					background-position: 0 ($item-height-md * -1);
				}
			}
			
			.tokyo {
				top: 264px;
				left: 677px;
				.text {
					width: 64px;
					background-image: url('../images/common/img-fmenu_area-tokyo.svg');
				}
				.mark {
					top: -17px;
					left: -9px;
				}
			}
			.osaka {
				top: 259px;
				left: 520px;
				.text {
					width: 62px;
					background-image: url('../images/common/img-fmenu_area-osaka.svg');
				}
				.mark {
					top: 9px;
					right: -4px;
				}
			}
			.fukuoka {
				top: 285px;
				left: 382px;
				.text {
					width: 88px;
					background-image: url('../images/common/img-fmenu_area-fukuoka.svg');
				}
				.mark {
					top: 8px;
					right: -7px;
				}
			}
		} // END : #fmap_area_nav
		
		
		#fmap_list_nav {
			$item-place-height-md: 43px;
			position: absolute;
			width: 100%;
			height: 100%;
			font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;

			
			ul {
				position: relative;
				overflow: hidden;
				height: 100%;
				li {
					@include clearfix;
					position: absolute;
					overflow: visible;
					
					&.aoyama {
						top: 111px;
						left: 758px;
						.place {
							background-image: url('../images/common/img-fmenu_list-aoyama.svg');
						}
					}
					&.centro {
						top: 181px;
						left: 758px;
						.place {
							background-image: url('../images/common/img-fmenu_list-centro.svg');
						}
					}
					&.primo {
						top: 247px;
						left: 758px;
						.place {
							background-image: url('../images/common/img-fmenu_list-primo.svg');
						}
					}
					&.ginza {
						top: 315px;
						left: 758px;
						.place {
							background-image: url('../images/common/img-fmenu_list-ginza.svg');
						}
					}
					&.osaka {
						top: 136px;
						left: 361px;
						.place {
							top: 60px;
							left: 151px;
							background-image: url('../images/common/img-fmenu_list-osaka.svg');
						}
						.info {
							top: 0;
							left: 0;
						}
					}
					&.hakata {
						top: 191px;
						left: 160px;
						.place {
							top: 39px;
							left: 252px;
							background-image: url('../images/common/img-fmenu_list-hakata.svg');
						}
						.info {
							top: 0;
							left: 0;
						}
					}
					
					&.active {
						.place, .info {
							@include animTrans();
						}
						.place {
							background-position: center ($item-place-height-md * -1);
						}
						.info {
							color: $gray83;
							a {
								@include animTrans();
								color: $gray83;
							}
						}
					}
					
					.place, .info {
						@include animTrans();
						a {
							@include animTrans();
						}
					}
					
					.place {
						position: absolute;
						top: 5px;
						left: 0;
						width: 74px;
						height: $item-place-height-md;
						background: transparent no-repeat center 0;
						p {
							.text {
								display: inline-block;
								overflow: hidden;
								text-indent: -9999px;
							}
						}
					} // END : .place
					.info {
						position: relative;
						top: 0;
						left: 99px;
						color: $gray153*0.95;
						a {
							color: $gray153*0.95;
						}
						p {
						}
						.name {
							
						}
						.tel {
							
						}
						.address {
							
						}
					} // END : .info
				}
			}
		} // END : #fmap_list_nav
	} // END : & > footer 

} // END : body

// END : Element ==============================================================================



// ! START : Class ==============================================================================
// START : Class : bootstrap reset ============================================================
.navbar-default {
	background-color: transparent;
	border: 0;
}

.mark {
	background: transparent;
}

.btn {
	padding: 7px 14px 6px;
}
.btn-primary {
	@include animTrans();
	border-color: $gray64;
	background: $gray108;
	&:hover {
		@include animTrans();
		border-color: $gray36;
		background: $gray84;
	}
}

.modal-content {
	.modal-header {
		padding: 17px 15px 14px;
		.modal-title {
			font-size: 150%;
			font-weight: bold;
			line-height: 110%;
		}
	}
	.modal-body {
		
	}
}
.carousel-indicators {
	li {
		margin: 1px 3px;
		border-color: rgba($gray196, 0.75);
		&:hover {
			background-color: rgba($gray196, 0.45);
		}
	}
	.active {
		margin: 0px 2px;
		background-color: rgba($gray196, 0.75);
	}
	
}
// END : Class : bootstrap reset ============================================================
// START : Class : Animation ============================================================
.loader {
	
	position: absolute;
	z-index: 10;
	width: 100%;
	text-align: center;
	
	.icon {
		@include marginSide(auto);
		position: absolute;
		
	}
}

.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-ms-animation: spin .7s infinite linear;
	-webkit-animation: spinw .7s infinite linear;
	-moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}
// END : Class : bootstrap reset ============================================================

.wrapper {
	width: $screen-lg;
	@media screen and (max-width: $screen-xxs) {	// Extra Small < * < Small
		width: $screen-xxs;
	}
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {	// Small < * < Middle
		max-width: $screen-sm;
		width: auto;
	}
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {	// Super Extra Small < * < Extra Small
		min-width: $screen-md;
	} // END : Small
	@media screen and (min-width: $screen-md-min) {	// Max width
		width: $screen-lg;
	} // END : Max width
	
}

.area-hidden {
	visibility: hidden;
	height: 1px;
}
.click_area {
	cursor: pointer;
}

.img-vmiddle {
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
	}
}
.inner-wrapper{
	padding:0 $inner-padding-lg;
}
.tempo_bg{
	background: url(../images/common/tempo_bg.jpg);
}
.text-right{
	text-align:left;
	@media (min-width: $screen-xs) {
				text-align:right;
		}
}

// ! START : Class : Topics contents ======================================================
.modal-topics .modal-body {
	@include clearfix;
	
	figure {
		margin-bottom: 14px;
	}
	.topics-info {
		
		aside, .topic_title, .topic_limit {
			font-size: 110%;
		}
		aside {
		}
		.topic_title {
		}
		.topic_limit {
		}
		.contact-tel {
			font-size: 110%;
			line-height: 170%;
			dt {
				font-size: 100%;
				letter-spacing: -1px;
			}
			dd {
				font-size: 117%;
			}
		}
	}
	.topics-contents {
		clear: both;
	}
	.shop_name, .topic_text {
		display: none;
	}
	
	
	@media screen and (max-width: $screen-xs-max) {	// Extra Small < * < Small
		figure {
			height: 180px;
			.img-vmiddle {
				height: 180px;
			}
		}
		.topics-info {
			margin-bottom: 1.35em;
			.shop_limit {
				font-size: 100%;
			}
			.topic_title {
				margin-top: 1em;
			}
			.topic_limit {
				margin-top: 5px;
			}
			.contact-tel {
				margin-top: 15px;
				font-size: 100%;
				line-height: 170%;
				dt {
					display: inline-block;
					font-size: 100%;
				}
				dd {
					display: inline-block;
					margin-left: 0.4em;
					&:before {
						content: ':';
						display: inline-block;
						margin-right: 0.4em;
					}
				}
			}
		} // END : .topics-info
	}
	@media screen and (min-width: $screen-sm-min) {	// Small < * 
		figure {
			float: left;
			width: 300px;
			height: 200px;
			.img-vmiddle {
				height: 100%;
			}
		}
		.topics-info {
			float: right;
			margin-top: 12px;
			width: 250px;
			.topic_title {
				margin-top: 1em;
			}
			.topic_limit {
				margin-top: 13px;
			}
			.contact-tel {
				margin-top: 25px;
				dt {
				}
				dd {
				}
			}
		}
	} // END : Max width
	
}

// END : Class : Topics contents ======================================================


.facebook_plugin {
	.fb_iframe_widget {
		iframe {
			background: white;
		}
	}
}
// END : Class ==============================================================================









// ! START : ID ==============================================================================
#page_loader {
	position: fixed;
	z-index: 99999;
	opacity: 1;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	
	.icon {
		position: relative;
		top: 49.5%;
		color: white;
		font-size: 29px;	// 変更する際は回転のアニメーションがフラフラしないサイズを選ぶこと
	}
} // END : #page_loader



#global_nav {
	//position: relative;
	//left: 130px;
	
	.nav-global_shop_nav {
		
	} // END : .nav-global_shop_nav
	
	
	.global_shop_nav-top {	// 総合トップ：ショップ一覧
		padding-top:15px;
		ul {
			li {
				float: left;
				&.active {
					
				}
				a {
					p {
						&.name {
							
						}
						&.subname {
							
						}
						.text {
							
						}
					}
				}
			} // END : li
		}
	} // END : .global_shop_nav-top
	
	
	
	
	#nav-global_menu {
		.nav-menu {
			ul {
				display: block;
				li {
					display: inline-block;
					&.current_page_item {
						.text {
							border-bottom: 1px solid $red;
						}
					}
					a {
						display: inline-block;
						.text {
							display: inline-block;
						}
					}
				}
			}
		}
	} // END : #nav-global_menu
} // END : #global_nav


#dialog_area {
	.modal-dialog {
		@media screen and (max-width: $screen-xs-max) {	// Extra Small < * < Small
			margin-top: 20px;
		} // END : Extra Small < * < Small
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {	// Small < * < Middle
			margin-top: 8%;
		} // END : Small < * < Middle
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {	// Middle < * < Max
			margin-top: 9%;
		} // END : Middle < * < Max
		@media screen and (min-width: $screen-lg-min) {	// Max width
			margin-top: 110px;
		} // END : Max width
		
	}
} // END : #dialog_area
// END : ID ==============================================================================

// ! START : Style ==============================================================================
// END : Style ==============================================================================


// ! START : Page ==============================================================================
body.error404 {
	text-align: center;
	
	a {
		color: $gray83;
	}
	.page-header {
		border: 0;
		.page-title {
			font-size: 120%;
		}
	}
	.page-content {
		margin: 0 auto 50px;
		text-align: center;
		.back2home {
			margin-top: 30px;
		}
	}
}
// END : Page ==============================================================================

