
//! START : Element /////////////////////////////////////////////////
body {
	font-family: "not-set",'Helvetica', 'Arial', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}
// END : Element /////////////////////////////////////////////////





//! START : Class /////////////////////////////////////////////////
.wrapper {
	margin-left: auto;
	margin-right: auto;
}
.vmiddle_area {
	display: table;
	height: 100%;
	width: 100%;
	.vmiddle_item {
		display: table-cell;
		vertical-align: middle;
	}
}
// END : Class /////////////////////////////////////////////////





//! START : ID /////////////////////////////////////////////////

// END : IE /////////////////////////////////////////////////





//! START : Page /////////////////////////////////////////////////

// END : Page /////////////////////////////////////////////////




//! START : Browser /////////////////////////////////////////////////

// END : Browser /////////////////////////////////////////////////
