// Color
$red50: rgb(157, 29, 43);
$red100: rgb(195, 13, 35);
$red200: rgb(232, 18, 0);
$red210: rgb(232, 71, 41);

$pink200: rgb(255, 224, 238);

$tang200: rgb(240, 90, 35);

$brown30: rgb(64, 34, 15);
$brown40: rgb(106, 57, 6);
$brown50: rgb(96, 76, 63);
$brown80: rgb(122, 106, 86);
$brown100: rgb(164, 139, 120);
$brown150: rgb(201, 188, 156);
$brown240: rgb(247, 240, 232);

$tangerine150: rgb(234, 85, 20);

$green40: rgb(64, 96, 0);
$green50: rgb(93, 115, 37);
$green90: rgb(110, 130, 60);
$green100: rgb(115, 142, 39);
$green110: rgb(166, 151, 85);
$green120: rgb(175, 190, 131);
$green170: rgb(191, 199, 142);

$blue50: rgb(23, 42, 136);
$blue80: rgb(59, 89, 152);
$lightBlue: rgb(76, 171, 225);

$aqua100: rgb(0, 113, 188);
$aqua200: rgb(0, 113, 255);

$semGray60: rgb(62, 58, 57);

$gray8:rgb(8,8,8);
$gray16:rgb(16,16,16);
$gray24:rgb(24,24,24);
$gray32:rgb(32,32,32);
$gray36:rgb(36,36,36);
$gray48:rgb(48,48,48);
$gray51:rgb(51,51,51);
$gray59:rgb(59,59,59);
$gray64:rgb(64,64,64);
$gray77:rgb(77,77,77);
$gray80:rgb(80,80,80);$gray81:rgb(81,81,81);$gray82:rgb(82,82,82);$gray83:rgb(83,83,83);
$gray84:rgb(84,84,84);
$gray87:rgb(87,87,87);
$gray90:rgb(90,90,90);
$gray96:rgb(96,96,96);
$gray108:rgb(108,108,108);
$gray114:rgb(114,114,114);
$gray120:rgb(120,120,120);$gray121:rgb(121,121,121);$gray122:rgb(122,122,122);
$gray128:rgb(128,128,128);
$gray133:rgb(133,133,133);
$gray136:rgb(136,136,136);
$gray144:rgb(144,144,144);
$gray153:rgb(153,153,153);
$gray160:rgb(160,160,160);
$gray165:rgb(165,165,165);
$gray166:rgb(166,166,166);
$gray172:rgb(172,172,172);
$gray178:rgb(178,178,178);$gray179:rgb(179,179,179);
$gray180:rgb(180,180,180);
$gray196:rgb(196,196,196);
$gray200:rgb(200,200,200);$gray201:rgb(201,201,201);$gray202:rgb(202,202,202);$gray203:rgb(203,203,203);
$gray204:rgb(204,204,204);
$gray208:rgb(208,208,208);
$gray212:rgb(212,212,212);
$gray217:rgb(217,217,217);
$gray220:rgb(220,220,220);
$gray224:rgb(224,224,224);
$gray229:rgb(229,229,229);$gray230:rgb(230,230,230);$gray231:rgb(231,231,231);
$gray232:rgb(232,232,232);
$gray237:rgb(237,237,237);
$gray239:rgb(239,239,239);$gray240:rgb(240,240,240);$gray241:rgb(241,241,241);
$gray242:rgb(242,242,242);
$gray247:rgb(247,247,247);$gray248:rgb(248,248,248);$gray249:rgb(249,249,249);$gray250:rgb(250,250,250);$gray251:rgb(251,251,251);$gray252:rgb(252,252,252);$gray253:rgb(253,253,253);$gray254:rgb(254,254,254);$gray255:rgb(255,255,255);
$gray77p: $gray59;
$gray70p: $gray77;
$gray50p: $gray128;
$gray40p: $gray153;
$gray35p: $gray166;
$gray30p: $gray179;
$gray20p: $gray204;
$gray15p: $gray217;
$gray10p: $gray229;
$gray7p: $gray237;
$gray5p: $gray242;
$gray3p: $gray247;
$hexColor_515151: $gray81;
$hexColor_727272: $gray114;
$hexColor_999999: $gray153;
$hexColor_a5a5a5: $gray165;
$hexColor_b2b2b2: $gray178;
$hexColor_cccccc: $gray204;

// SNS Color
$twitterBlue: rgb(104, 170, 222);
$twitterBlueLight: rgb(124, 185, 228);
$twitterBlueDark: rgb(88, 140, 182);
$facebookBlue: rgb(68, 102, 169);
$facebookBlueLight: rgb(97, 135, 193);
$facebookBlueDark: rgb(60, 84, 139);
$googlePlusRed: rgb(203, 51, 51);
$googlePlusRedLight: rgb(222, 80, 80);
$googlePlusRedDark: rgb(167, 42, 41);
$hatebBlue: rgb(0, 153, 204);
$hatebBlueLight: rgb(0, 177, 215);
$hatebBlueDark: rgb(2, 125, 166);
$pocketRed: rgb(237, 64, 85);
$pocketRedLight: rgb(244, 96, 121);
$pocketRedDark: rgb(192, 53, 70);


