@import "compass";


@mixin htmlViewArea {
	@media (min-width: $screen-lg-min) {	// Max width
		width: 100%;
	}
	@media (max-width: $screen-lg-min) {	// Min < * < Max
		width: 100%;
	}
	@media (max-width: $screen-sm-min) {	// Min width
		width: 100%;
	}
	@media (max-width: $screen-xs-min) {	// iPhone Landscape width(480px)
		width: $screen-xs-min;
	}	
	/*
	@media (max-width: $screen-xxs-min) {	// iPhone Portrait width(320px)
		width: $screen-xxs-min;
	}
	*/
}

@mixin anchorColor($type) {
	a {
		@if($type == 'white') {
			color: white;
		}
		//color: $site_anc_color;
		&:hover {
			@if($type == 'white') {
				color: white;
			}
			//color: $site_anc_hover_color;
			border-bottom: 1px solid $red200;
			text-decoration: none;
		}
	}
}

@mixin animTrans() {
	@include transition(0.15s ease);
}
@mixin hoverAnime($type:'', $move: $hoverAnimeMove) {
	@include animTrans;
	@if($type == '' or $type == 'right') {
		//@include translateX($move);
	}
	@else if($type == 'top') {
		//@include translateY($move);
	}
}

@mixin marginSide($val) {
	margin-left: $val;
	margin-right: $val;
}
@mixin paddingSide($val) {
	padding-left: $val;
	padding-right: $val;
}

@mixin placeholder-color($color) {
	&:-moz-placeholder {
		color:$color;
	}
	&::-webkit-input-placeholder {
		color:$color;
	}
}
 
@mixin tableBuilder($type: '', $space:5px) {
	@if($type == '' or $type == 0) {
		tr, td {
			border-style: solid;
			border-width: 0;
		}
		tr {
			border-top-width: $space;
			&:first-child {
				border-top-width: 0;
			}
			td {
				&.item_name {
					border-right-width: 5px;
				}
			}
		}
	}
}


@mixin ieBgRgbaClear() {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffffffff')";
}
@mixin ieBgRgba($p) {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{ie-hex-str($p)}',EndColorStr='#{ie-hex-str($p)}')";
}
@mixin ieTextShadow($c, $x, $y) {
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color='#{ie-hex-str($c)}',offx='$x',offy='$y')";
}
@mixin ieRotate($val) {
	//$msRotate: $val / 90;
	$msRotate: 1;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$msRotate});
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$msRotate})";
}



@mixin bgColor($type, $place) {
	@if($type == 'all') {
		@if($place == 'display') {
			background: $red200;
			opacity: $displayColorOpacity;
		}
	}
}



@mixin filterOverTextShadow() {
	@include ieTextShadow(rgba(0, 0, 0, 0.2), 0, 0);
	@include text-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

@mixin tagColor($color) {
	.sns_link_area .border,
	.post_contents_area .border {
		border-color: $color;
	}
	.post_contents_area a,
	.tag_text_color {
		color: $color;
	}
}


@mixin tagTextColorMaker() {
	&.establish, &.ksociety {
		color: $establishColor;
		a {
			color: $establishColor;
			&:hover {
				color: $establishHilightColor;
			}
		}
	}
	&.manager_blog {
		color: $mngBlogColor;
		a {
			color: $mngBlogColor;
			&:hover {
				color: $mngBlogHilightColor;
			}
		}
	}
	&.tech_hardware {
		color: $hardwareColor;
		a {
			color: $hardwareColor;
			&:hover {
				color: $hardwareHilightColor;
			}
		}
	}
	&.musician {
		color: $musicColor;
		a {
			color: $musicColor;
			&:hover {
				color: $musicHilightColor;
			}
		}
	}
}

@mixin tagOverlayBg() {
	.ksociety, .establish {
		.overlay {
			@include opacity($displayColorOpacity);
			background: $establishColor;
		}
	}
	.gadget_garage, .tech_hardware {
		.overlay {
			@include opacity($displayColorOpacity);
			background: $hardwareColor;
		}
	}
	.piece_voice, .musician {
		.overlay {
			@include opacity($displayColorOpacity);
			background: $musicColor;
		}
	}
}



@mixin buttonShadowBuild($stdColor, $hoverColor) {
	@media (max-width: $screen-sm-min) {	// Extra Small < * < Small
		@include box-shadow(0 $xsBtnShadowHeight 0 $stdColor);
		margin-bottom: $xsBtnShadowHeight;
		&:hover {
			@include box-shadow(0 $xsBtnShadowHeight 0 $hoverColor);
		}
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {	// Small < * < Middle
		@include box-shadow(0 $smBtnShadowHeight 0 $stdColor);
		margin-bottom: $smBtnShadowHeight;
		&:hover {
			@include box-shadow(0 $smBtnShadowHeight 0 $hoverColor);
		}
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {	// Middle < * < Max
		@include box-shadow(0 $mdBtnShadowHeight 0 $stdColor);
		margin-bottom: $mdBtnShadowHeight;
		&:hover {
			@include box-shadow(0 $mdBtnShadowHeight 0 $hoverColor);
		}
	}
	@media (min-width: $screen-lg-min) {	// Max width
		@include box-shadow(0 $lgBtnShadowHeight 0 $stdColor);
		margin-bottom: $lgBtnShadowHeight;
		&:hover {
			@include box-shadow(0 $lgBtnShadowHeight 0 $hoverColor);
		}
	}
}


@mixin snsBtnShadowMaker($color, $xs, $sm, $md, $lg) {
	@media (max-width: $screen-sm-min) {	// Extra Small < * < Small
		@include box-shadow(0 $xs 0 $color);
	}
	@media (min-width: $screen-sm-min) {	// Small < * < Middle
		@include box-shadow(0 $sm 0 $color);
	}
	@media (min-width: $screen-md-min) {	// Middle < * < Max
		@include box-shadow(0 $md 0 $color);
	}
	@media (min-width: $screen-lg-min) {	// Max width
		@include box-shadow(0 $lg 0 $color);
	}
	
}


@mixin fillScrollBar($color) {
	// Chrome
	&::-webkit-scrollbar {
		background: $color;
	}
	&::-webkit-scrollbar-track {
		background: $color;
		-webkit-box-shadow: none;
	}
	&::-webkit-scrollbar-thumb {
		background: $color;
		-webkit-box-shadow: none;
	}
	&::-webkit-scrollbar-button {
		background: $color;
	}
	&::-webkit-scrollbar-piece {
		background: $color;
	}
	&::-webkit-scrollbar-piece:start {
		background: $color;
	}
	&::-webkit-scrollbar-corner {
		background: $color;
	}
	// IE, Opera
	scrollbar-face-color: $color;
	scrollbar-3dlight-color: $color;
	scrollbar-darkshadow-color: $color;
	scrollbar-highlight-color: $color;
	scrollbar-shadow-color: $color;
	scrollbar-arrow-color: $color;
	scrollbar-track-color: $color;

}






@mixin wp-admin-color($my_color) {
	$darken-normal: 5%;
	$darken-light: 3%;
	$darken-more: 10%;
	$lighten-normal: 5%;
	$lighten-super: 85%;
	
	#wpadminbar, #adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
		background-color: $my_color;
	}
	#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
		background-color: darken($my_color, $darken-light);
	}
	
	#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
		color: white;
		background-color: darken($my_color, $darken-more);
	}
	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
		background: darken($my_color, $darken-more);
	}
	
	#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
		background-color: darken($my_color, $darken-normal);
	}
	#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar .ab-top-menu>li:hover>.ab-item, #wpadminbar .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
		background-color: lighten($my_color, $lighten-normal);
	}
	
	#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
		background-color: lighten($my_color, $lighten-normal);
	}
	
	
	// 文字のホバーカラー
	#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after,
	#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
		color: lighten($my_color, $lighten-super);
	}
	#adminmenu li:hover div.wp-menu-image:before {
		color: lighten($my_color, $lighten-super);
	}
	#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar .ab-top-menu>li:hover>.ab-item, #wpadminbar .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
		color: lighten($my_color, $lighten-super);
		background-color: lighten($my_color, $lighten-normal);
	}
	#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
		color: lighten($my_color, $lighten-super);
		background-color: lighten($my_color, $lighten-normal);
	}
	#wpadminbar .quicklinks .menupop.hover ul li a:before,
	#wpadminbar .quicklinks .menupop:hover ul li a:before {
		background-color: transparent;
	}
	#wpadminbar .quicklinks .menupop.hover .ab-sub-wrapper a.ab-item:hover, #wpadminbar .quicklinks .menupop.hover .ab-sub-wrapper a.ab-item:hover {
		background-color: transparent;
	}

	#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus a, #wpadminbar .quicklinks .menupop .ab-sub-secondary>li>a:hover {
		color: lighten($my_color, $lighten-super);
	}
	#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
		border-right-color: darken($my_color, $darken-light);
	}
	
	#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
		background-color: darken($my_color, $darken-normal);
	}
	#wpadminbar>#wp-toolbar a:focus span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label, #wpadminbar>#wp-toolbar li:hover span.ab-label {
		color: lighten($my_color, $lighten-super);
	}
	#wpadminbar .quicklinks li a:hover .blavatar {
		color: lighten($my_color, $lighten-super);
	}
	
	
	#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
		color: white;
	}
	#adminmenu div.wp-menu-image:before {
		color: rgb(153, 153, 153);
	}	
}



//inner-wrapper

@mixin inner-wrapper($sm-padding, $xs-padding)
 {
	padding:0 $sm-padding;
	@media (max-width: $screen-sm) {
		padding:0 $xs-padding;
	}
 }