/*************************************
　デフォルトのスタイルのリセット
*************************************/
/***********
    RESET
************/
* { margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { -webkit-font-smoothing: antialiased; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote { margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6,em,address,th,dt {
	font-style:normal;
	font-weight:normal;
	font-size:1em;
}
strong{ color: rgb(33,33,33); }
ul,li{
	list-style-type:none;
}

img,a img {
	border:none;
	vertical-align:bottom;
}

hr{
	display:none;
}

nav,section,header,footer,aside,figure { margin: 0; padding: 0; }
small { font-size: 100%; }
/* ----------------------------------------------------------------------------  
　Clearfix：float解除
----------------------------------------------------------------------------  */
@mixin clearfix {
	&:before,
	&:after {
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
		content: "\0020";
	}
}

.clearfix {
	&:before,
	&:after {
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
		content: "\0020";
	}
}